[2016-12-30 11:59] michalsnik opened #2 "New rule proposal - "no-unused-dependent-properties""
Proposed rule should check if there are any unused dependent properties in computed properties.

Correct:
[code]

Incorrect:
[code]

[2017-01-12 21:00] alexlafroscia commented on #2
Hey, I'd love to help out with this plugin somehow. Want me to try putting together an implementation for this this weekend?

[2017-01-12 23:03] michalsnik commented on #2
Sure, that would be really cool @alexlafroscia Great to see your interest in this! :)

[2017-01-18 04:41] alexlafroscia commented on #2
Hmm, does this plugin use the regular ESLint plugin setup or no?

[2017-01-18 05:19] alexlafroscia commented on #2
This is probably gunna take me a little time, since there's a number of edge cases around situations like

[code]

and

[code]

I'm not going to make a PR just yet, but my progress can be tracked here:

https://github.com/alexlafroscia/eslint-plugin-ember/tree/no-unused-dependent-properties

[2017-01-18 14:03] michalsnik commented on #2
Yeah, there are quite a few edge cases.

I believe it's quite regular ESLint plugin setup, is something wrong?

[2017-01-18 18:44] alexlafroscia commented on #2
I use the [Yeoman generator](https://github.com/eslint/generator-eslint) to generate a new rule, and it just put the files in a different location. I realized after the question that I just needed to relocate them, not a big deal.

[2017-01-19 13:17] michalsnik commented on #2
Ah, ok. It's a good idea to change it for all rules. I'll create separate issue for that :)

[2017-01-19 13:23] michalsnik opened #5 "Compatibility with yeoman generator for eslint"
Currently this plugin is not compatible with yeoman generator for eslint: https://github.com/eslint/generator-eslint

New rule is being created in wrong directory instead of the one with other rules.

To be: This plugin's folder structure should be the one recommended in mentioned generator, so that creating new rules with `yo eslint:rule` is flawless.

[2017-01-19 13:24] michalsnik commented on #2
^ #5

[2017-01-19 17:47] alexlafroscia commented on #5
Do you want to change the way the documentation is done, too? The Yeoman generator has a rule per file, matching the way ESLint itself does the documentation.

[2017-01-19 17:47] alexlafroscia commented on #5
Also, I'm happy to take this little task on myself.

[2017-01-19 17:50] alexlafroscia commented on #2
Excellent!

Making good progress. I have a bunch of tests written and a pretty naive implementation that makes them pass. Want to add more test cases tonight and then submit a PR; it might be good enough to start, or we could discuss an alternate approach together.

The main issue that I'm seeing is that it's hard to tell if you're actually accessing the property on the controller/component rather

[2017-01-19 17:53] alexlafroscia commented on #2
Right now I'm checking every property definition and looking down into it to see if it's a computed property that uses all the given keys. It might be possible to make a better implementation that starts with all times that `get` is used and walks upward in the AST to see if it's in a computed property, mark the dependent key is used; and then error on all unused ones later. Not really sure though

[2017-01-19 20:06] alexlafroscia opened #6 "`jquery-ember-run` should be renamed"
The ESLint naming conventions state that rules that prevent some behavior should be prefixed with `no-`

http://eslint.org/docs/developer-guide/working-with-rules#rule-naming-conventions

Something like `no-jquery-ember-run` or `no-jquery-in-ember-run` would be a more appropriate name.

[2017-01-19 20:08] #6 closed

[2017-01-19 20:09] alexlafroscia commented on #6
Never mind, I totally misinterpreted what that rule does.

[2017-01-20 11:01] michalsnik commented on #5
I think it makes perfect sense @alexlafroscia , not only because of the yeoman generated structure, but because of the number of different rules we have here. It will be easier to manage separate docs for each rule instead of one giant documentation.

What do you think @netes? You were working on current documentation.

Also we have to remember about creating PR to https://github.com/jfmengels/esl

[2017-01-20 11:18] michalsnik commented on #2
Great, I'm totally fine with basic approach first in order to iterate over it later with more and more complex scenarios.

Both approaches seems interesting, not sure which is the best though. Personally I was thinking about doing 3 things in this rule:
- parse dependent keys to get a nice array of them
- parse computed block in order to get all properties that were obtained either using `this.get

[2017-01-20 19:13] alexlafroscia commented on #2
Ahh, I forgot about `getProperties`. I'll need to update my code to support that (shouldn't be hard).

this I do, as well as doing things like expanding out `foo.{bar,baz}` into `foo.bar` and `foo.baz` separately and dropping `.@each` from keys (so `array.@each` to `array`). The hard part is then taking that list and checking for it, because you're right; that second case (with `qwe`) becomes real

[2017-01-20 19:15] alexlafroscia commented on #5
Cool, feel free to assign me. I took a night off from OSS last night but will do this at some point between now and Monday.

[2017-01-20 22:48] netes commented on #5
@michalsnik, I think it's a perfect idea, as our rule set is pretty big and it's constantly growing. Thanks for contribution @alexlafroscia!

[2017-01-26 09:26] #5 closed

[2017-01-27 15:32] Turbo87 opened #10 "Import rules from `ember-best-practices`"
see https://github.com/chadhietala/ember-best-practices

[2017-01-30 18:14] michalsnik commented on #10
I would totally love to import some of those rules here. I'll try to speak with @chadhietala about this.
Actually the final goal of this project is to integrate all of those great rules in one place. Thanks for pointing this repository @Turbo87!

[2017-02-01 20:30] SaladFork opened #11 "`named-functions-in-promises` false positives"
![](https://i.imgur.com/10UggdN.png)

[code]
will result in a `named-functions-in-promises` linting error, despite using a named function.

[2017-02-03 09:52] Turbo87 opened #13 "Improve "order-in-*" rule warnings"
Currently the rules only state "Check order of properties", but we should try to be more helpful and tell the user if the property should be moved up or down, possibly even a line number.

[2017-02-03 10:47] craigbilner opened #14 "Contribution"
Hi, I'm currently moving our codebase to conform to your eslint rules and am writing some codemods that people may find useful.

So far I've adapted Tom Dale's [module codemod](https://github.com/tomdale/ember-modules-codemod) to handle your `local-modules` and `use-ember-get-and-set` rules. I've also created [one](https://github.com/craigbilner/ember-on-codemod) for your `no-on-calls-in-component

[2017-02-03 17:04] Turbo87 commented on #14
@craigbilner why don't you convert those to ESLint fix code so that we can use it via `eslint --fix`?

[2017-02-03 22:15] craigbilner commented on #14
Thanks @Turbo87, unfortunately `fix` isn't really designed for these sort of large modifications. The [guidelines](http://eslint.org/docs/developer-guide/working-with-rules#applying-fixes) suggest making only small changes (such as one token) so that they don't collide with other eslint rules/fixes. Also the fix method isn't as powerful as `jscodeshift`/`recast`.

[2017-02-04 14:33] michalsnik commented on #11
Hey @SaladFork, thanks for pointing this. I'll look into this shortly :)

[2017-02-04 14:36] michalsnik commented on #13
True, that would make total sense and it's for sure worth considering. Current message indeed might be confusing..

Not sure though if I'll be able to work on this right now, but if anyone wants to help, we would really appreciate it :)

[2017-02-04 14:38] Turbo87 commented on #13
@michalsnik have a look at https://github.com/netguru/eslint-plugin-ember/issues/15 😉

[2017-02-04 15:10] michalsnik commented on #13
Damn, apparently I'm blind! I just realised when looking into open PRs. This is awesome! I'll look at this hopefully today, eventually tomorrow. Great work @Turbo87 :)

[2017-02-05 11:32] michalsnik commented on #14
Hey @craigbilner , this is great. I'm sure at point we can mention about that in this repository so that everyone can move their projects towards better practices in a more convenient way. So far so good :)

[2017-02-05 17:43] bardzusny opened #17 "ESLint setup for plugin codebase"
This plugin should have its own ESLint setup present, to assure code aesthetics/style consistency.

* ESLint config, required dependencies
* Running ESLint check as part of tests on TravisCI

[2017-02-05 17:45] bardzusny opened #18 "Describe supported Node.js versions"
* Point-out oldest supported Node.js version to run rules present in this plugin in README file (likely to be v4 LTS, as of this writing).
* Update TravisCI testing matrix to run tests under it (in addition to currently used v6).

[2017-02-05 18:51] #13 closed

[2017-02-05 18:53] #18 closed

[2017-02-05 20:11] michalsnik commented on #13
Released as https://github.com/netguru/eslint-plugin-ember/releases/tag/v2.1.0

[2017-02-05 22:11] craigbilner commented on #14
@michalsnik sweet. I've now got preliminary [named-functions-in-promises](https://github.com/craigbilner/ember-name-promise-codemod) and [order-in-components](https://github.com/craigbilner/ember-comp-order-codemod) going. Feel free to close this issue and raise any feedback on them, ta.

[2017-02-06 14:11] cinkonaap opened #21 "alias-model-in-controller not working via route controller setup"
`alias-model-in-controller` rule in documentation has an ability to be covered by setting model in route's `setupController` method. This is not working, and even is not intended to, so it should be removed from documentation.

Anyway, I hope there was some way to cover such scenarios. We have cases when our controller do not have model (this may be misconception on legacy code level, and can be '

[2017-02-06 18:07] michalsnik commented on #14
Cool @craigbilner, sure thing 👍

[2017-02-06 18:07] #14 closed

[2017-02-06 18:21] michalsnik commented on #21
The documentation is maybe not that clear about this. But the intent was that if you have a controller, you should alias your model there. But if you don't have a separate controller, but rather a simple `setupController()` in route, then you can set it there (it will be not checked though, it's still a legit rule that you can follow). If you however would like to use `model` property on your cont

[2017-02-07 08:27] cinkonaap commented on #21
I think disabling the rule in specific controller is reasonable in that case. Thanks for response 👍

[2017-02-07 10:24] #11 closed

[2017-02-07 10:25] michalsnik commented on #21
No problem :)

[2017-02-07 10:25] #21 closed

[2017-02-07 17:59] bdmac opened #24 "False positive for `no-empty-attrs`"
We have a local variable named `attr` and the `no-empty-attrs` rule is being triggered. Renaming the variable works but should not raise this.

[code]

[2017-02-09 10:37] michalsnik commented on #24
Yeah, makes sense. We should probably more strictly check this and scope the check to only model's properties.

[2017-02-09 10:38] michalsnik commented on #24
I'll look into this soon 👍  For now you can disable this rule in this file or for this specific line:
[code]

[2017-02-10 14:10] craigbilner opened #25 "Ternary statements in ember/order-in-components"
Should ternary statements be classified as default properties? Currently they're considered as an unknown property.

[2017-02-13 16:27] michalsnik commented on #25
That's a good question @craigbilner. Let me come back to you after short discussion with my team mates.

Btw. what is your opinion?

[2017-02-13 18:11] craigbilner commented on #25
@michalsnik, I think they should:

[code]

is a default value of either 1 or 2 to me

[2017-02-13 18:47] craigbilner opened #26 "Brace rules confirmation"
Should computed keys be braced with a preference for longer prefixes?

i.e.

[code]

is preferred to

[code]

[2017-02-14 07:00] bdmac opened #27 "Component rules not applied for components extending a common base component"
The various component level rules do not get applied if you extend another application level component.

For example this shows no linter errors when it should:
[code]

Whereas this does:
[code]

[2017-02-14 08:44] michalsnik commented on #25
Okay, we had a brief talk and everyone has the same thoughts @craigbilner :) This should be treated as default property indeed 👍

[2017-02-14 08:48] netes commented on #26
IMO, first variant is much more readable.

[2017-02-14 08:52] michalsnik commented on #27
Hi @bdmac, yes it is a problem.

Currently we distinct routes from controllers and components by checking name of the module. If you create one by extending other component we simply can not distinguish what it is actually.

I'll leave this issue marked as `in consideration` and I'll get back to you as soon as I find the solution to this problem. I have an idea on my mind but I need to check this.

[2017-02-14 08:55] michalsnik commented on #26
I agree with @netes, but it looks like our current rule wants the second option, which might not be a good thing in some cases. I wouldn't give it a big priority though, it's worth checking if we can improve this rule to be more `intelligent`.

[2017-02-14 14:08] netes opened #28 "use-ember-get-and-set and model relationships test"
Consider this code in model unit test:
[code]

This will throw an error because we're not using `Ember.get` getter for the `user` property. But we can't do it because `relationshipsByName` is an `Ember.Map` which has different `get` function.

My first idea was to add some optional settings to this rule where we would define particular preceding properties which shouldn't throw an error.

I'm almo

[2017-02-14 16:09] bdmac commented on #27
I have ideas but I'm not sure how eslint works really. One would be to check the directory of the file under analysis and see if it has `component` in the hierarchy. A bit hacky but given ember's directory structure should work. Another option is to walk included extended modules but again not sure if eslint has access to that.

[2017-02-14 20:32] michalsnik opened #29 "order-in-controllers vs query-params-on-top"
@davidpett encountered an issue (originally discussed in #23) with both of those rules turned on. On of which requires setting `queryParams` on the very top of a controller, but `order-in-controllers` rule wants service injections first.That leads to a clear problem.

My first thought is to add `queryParams` in `order-in-controllers` rule as the next thing after service injections (to be consisten

[2017-02-14 20:34] michalsnik commented on #2
Hey @alexlafroscia, any update here? Just checking out ✌️

[2017-02-14 21:06] alexlafroscia commented on #2
Hey sorry, I've been distracted from this by work stuff. I haven't made any progress past the branch I linked to earlier and I'm not sure when I'll have the bandwidth for this again 😐

[2017-02-14 23:18] davidpett commented on #29
Is it possible to check for rules within another rule?

[2017-02-14 23:42] michalsnik commented on #2
Sure, no problem @alexlafroscia But maybe you can just create a PR and set `in progress` label? it would be a good place to keep further discussion regarding this rule and implementation details.

[2017-02-14 23:45] michalsnik commented on #29
I'm not sure to be honest @davidpett

[2017-02-14 23:58] alexlafroscia commented on #2
Yeah, sure. I'll make the PR but I don't think I can add labels.

[2017-02-15 05:31] netes commented on #29
Removing `query-params-on-top` and including it in `order-in-controllers` would be a good move, but I'm not convinced that the query params should stick on the top. To be consistent with the rest of ordering rules I would leave injections first, followed by `queryParams`. WDYT?

[2017-02-15 09:32] #24 closed

[2017-02-15 09:35] michalsnik commented on #24
https://github.com/netguru/eslint-plugin-ember/releases/tag/v2.2.1

[2017-02-15 10:41] #25 closed

[2017-02-15 10:43] michalsnik commented on #25
https://github.com/netguru/eslint-plugin-ember/releases/tag/v2.2.2

[2017-02-16 08:06] #17 closed

[2017-02-17 17:07] michalsnik commented on #29
That sounds like a reasonable approach @netes. I'm on it right now :)

[2017-02-20 08:52] jbandura commented on #29
+1 to what @netes said

[2017-02-20 15:45] michalsnik commented on #29
Version `v3.0.0` has been released 🎉 @davidpett we removed `query-params-on-top` rule and introduced improved order in controllers as discussed above. Feel free to check this out :)
https://github.com/netguru/eslint-plugin-ember/releases/tag/v3.0.0

[2017-02-20 15:45] #29 closed

[2017-02-20 16:28] michalsnik commented on #27
I did a quick research, and it's totally possible based on the file path, and it would be 100% testable, so I think it's the proper way of handling this scenario.

What are your thoughts on this one guys? @jbandura @netes @bardzusny

Getting file path in inside rule is really straightforward:
[code]

and setting filename in test looks like this:
[code]

[2017-02-27 20:54] Padchi commented on #28
Same thing if you using ember-cli-mirage and using get.

[2017-03-14 20:50] clcuevas commented on #26
Are there any updates to improving this rule?

[2017-03-16 13:21] michalsnik commented on #27
@bdmac Released in 3.1.0 🚀

[2017-03-16 13:26] #27 closed

[2017-03-16 13:46] michalsnik commented on #28
This might a problem, and I'm not sure how we should actually handle this. We can't predict if current object is EmberObject or not. The only solution I see for now is to add additional setting called e.g.`onlyThis` which will shift this rule to check only `this.<get|set>(` and it won't care about any other `<*>.get(` calls.

What do you think @netes ?

[2017-03-16 14:05] michalsnik commented on #26
Not yet @clcuevas I'm giving it second thought right now

[2017-03-16 15:06] bdmac commented on #27
🎆

On Thu, Mar 16, 2017, 6:26 AM Michał Sajnóg <notifications@github.com>
wrote:

[2017-03-16 17:22] bdmac opened #41 "order-in-models + services?"
The changes to `order-in-models` rule seem to want services injected in models to appear at the bottom of the model. This seems like a strange departure since other ordering rules want services to be at the top. Also the example does not show a way to customize where services should appear like in the `order-in-controllers` rule so I'm not sure if that's even an option or not.

[2017-03-20 15:05] michalsnik commented on #41
Hey @bdmac, thanks for pointing this.
Indeed we might want to add this in one of next PRs.

For now you can customize this rule like this:

[code]

You can find list of all detectable things here: https://github.com/netguru/eslint-plugin-ember/blob/master/lib/utils/property-order.js#L10

I hope this solves your problem.

[2017-03-20 15:18] bdmac commented on #41
It will indeed. I just wasn't clear if those detections were applicable in all contexts or if they were somehow specific to each type. E.g. it wasn't clear I could detect services in models.

[2017-03-20 15:19] michalsnik commented on #41
Okay, then I think we should update documentation to be more specific about this :)

[2017-03-21 16:39] bartocc opened #42 "incompatible with ember-computed-decorators"
When using https://github.com/rwjblue/ember-computed-decorators, you'll get lint errors because multiline computed properties are now seen as methods and according to the order-in-controllers rule for example, should go below actions.

[2017-03-24 15:14] michalsnik commented on #42
Hey, It's not a usual scenario so I don't think we'll work on this issue anytime soon. But if you want to help - feel free. Any PRs are very welcome :)

[2017-03-24 15:17] bartocc commented on #42
I'll try to dedicate some time to put up a PR.

Is there any slack channel dedicated to eslint-plugin-ember in case I need
some help ?

2017-03-24 16:14 GMT+01:00 Michał Sajnóg <notifications@github.com>:

--

-
[image: Julien Palmas]
<http://clicks.crx.io/wf/click?upn=S8NtJlhzKsbL5BEVJrBaBe-2FGEnkz6ZvSgIEFjbetRNnMXXsDx5s-2FniDMCo7Ru-2B9RItprvbmbGozkFV8muwzQ5QhB-2Fg7DHLQeEgGwXP4U76w-3D_s5UH8bhnBao

[2017-03-27 11:31] RusPosevkin opened #45 "Typo in documentation: 'no-side-effect' or 'no-side-effects'"
There are 2 options in documentation: 'no-side-effect' in some cases, and 'no-side-effects' in other one.
The correct version is 'no-side-effects'.

[2017-03-28 14:37] #45 closed

[2017-03-28 14:37] michalsnik commented on #45
Thanks for a heads up! :)

[2017-04-06 09:57] netes opened #48 "New rule proposal - "no-capital-letters-in-routes""
According to this issue: https://github.com/emberjs/ember.js/issues/15108 I think it's worth to add such rule.

In short: raise an error when there is a route with uppercased letters in `router.js`.

@snik @jbandura @bardzusny @kevinkucharczyk what do you think guys?

[2017-04-06 10:02] jbandura commented on #48
:+1: should definitely help with late-night debugging sessions ;)

[2017-04-10 14:04] michalsnik commented on #48
If this is something that raises issues in Ember, then I think we should add this rule. It makes perfect sense to me 👍  Would you like to proceed with this @netes?

[2017-04-11 16:04] michalsnik commented on #26
I tried to come up with something, but there seem to be so many cases, that it's not so easy to grasp. What I would suggest is to gather as many different cases here in this conversation to define logic behind. Then I can prepare test scenarios and start implementing it.

[2017-04-11 16:23] michalsnik commented on #42
Finally there is a new channel in https://embercommunity.slack.com/ called #dev-linting. You can reach me there in case of any doubts :)

[2017-04-12 06:53] netes commented on #48
Sure thing :)

[2017-04-12 06:58] netes commented on #28
Seems like a decent workaround but I'm not 100% sure we really need this. All in all, we can just disable next line check when such problem appears.

[2017-04-12 07:03] #41 closed

[2017-04-12 21:53] clcuevas commented on #26
Hi @michalsnik Aside from the original poster's example, another scenario that I ran into is when computed properties may be implemented like this:

[code]

There have been some use cases in where I need to create computed properties this way and I believe (I can double check on this) from what I remember, the current rule does not capture this scenario. So, essentially, I can write the above this

[2017-04-20 08:22] michalsnik opened #51 "New rule proposal "no-attrs-snapshot""
Import `no-attrs-snapshot` from @chadhietala's https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/guides/rules/no-attrs-snapshot.md

[2017-04-20 08:24] michalsnik opened #52 "New rule proposal: "no-attrs""
Import "no-attrs" rule from @chadhietala's https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/guides/rules/no-attrs.md

[2017-04-20 08:25] michalsnik opened #53 "New rule proposal: "no-global-jquery""
Import "no-global-jquery" rule from  @chadhietala's https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/guides/rules/no-global-jquery.md

[2017-04-20 08:31] michalsnik commented on #10
I created separate issues for importing missing rules from `ember-best-practices`, see #51, #52, #53
Thus I'm closing this ticket and we'll continue discussion there.

The rest of the rules has already been implemented, but has different names:
`no-lifecycle-events` -> `no-on-calls-in-components`
`require-dependent-keys` -> `no-unused-dependent-properties` (in progress - it's not that simple)
`no-

[2017-04-20 08:31] #10 closed

[2017-04-20 20:44] SaladFork opened #56 "`alias-model-in-controller` should support `computed.readOnly`"
This currently results in an `alias-model-in-controller` error but should probably not:
[code]

[2017-04-20 21:08] SaladFork opened #57 "`use-ember-get-and-set` warns on non-Ember `get`s"
For example, if you are [declaring a GET route in Ember CLI Mirage](http://www.ember-cli-mirage.com/docs/v0.3.x/route-handlers/#shorthands):

[code]

Or using `this.set` in [an integration test](https://guides.emberjs.com/v2.12.0/testing/testing-components/):
[code]

[2017-04-21 07:25] michalsnik commented on #57
I think it's related to #28

[2017-04-21 08:22] michalsnik commented on #56
You're probably right @SaladFork, I didn't think about that scenario before but it seems like a decent practice in some cases. This should be rather straightforward to implement :)

[2017-04-21 14:44] SaladFork commented on #57
Thanks! Added some thoughts [on #55](https://github.com/netguru/eslint-plugin-ember/pull/55#issuecomment-296210385).

[2017-04-26 15:09] ahmadsoe opened #58 "order-in-routes rule should only run on routes"
I get eslint error `order-in-routes` on component, model and mirage with name contain `route`:
[code]

[2017-04-27 08:50] akshay1706 commented on #56
When can we expect this to be implemented? And we would also like to know wether this case will also take into consideration the injection of other controllers model like
[code]

[2017-04-28 12:51] Turbo87 opened #59 "New rule: "no-duplicate-dependent-keys""
this should warn for e.g.:

[code]

[2017-05-04 00:22] ryanrishi commented on #56
+1 for this. And `computed.reads` as well?

[2017-05-07 15:01] michalsnik commented on #58
Hey, thanks for pointing this @ahmadsoe!

It's because right now we're checking if route is actually a route by looking at file path. So if path to your file ends with `route.js` or has `routes/` somewhere we're expecting this is a route.

Apparently it doesn't apply well in your scenario..

We can improve this by introducing better regex solution and exclude everything that is inside `models/`, `

[2017-05-07 15:55] michalsnik commented on #28
I was just thinking about it. What if we add an optional setting `disableInTests` that will simply disable this rule in all tests? Plus we'll disable this rule for `mirage` folder by default. I think it would be the easiest and most reliable solution. What do you think @netes? I'm happy to work on this.

[2017-05-07 16:19] michalsnik commented on #57
I'm closing this as I proposed solution in #28 and we can continue this discussion there.

[2017-05-07 16:19] #57 closed

[2017-05-07 16:30] michalsnik commented on #59
Good idea @Turbo87

Do you also think about detecting things like:
[code]

Or a simple check if any string is duplicated?

[2017-05-07 17:04] michalsnik commented on #56
I'm going to handle `readOnly` and `reads`, but @akshay1706 I'm not sure about your example. Good practice is to alias model from corresponding route, not other controller. So in your case you probably should disable this rule per specific controller. What are your thoughts guys @netes @jbandura @kevinkucharczyk ?

[2017-05-08 06:16] netes commented on #28
I'm not sure if it's a good solution because by doing this (`disableInTests`) we disallow rule in the favor of some few edge cases. Also, we can just use second `.eslintrc` in `tests` folder to disable particular rules, no need for `disableInTests` option then.

[2017-05-08 06:48] Turbo87 commented on #59
I think having that work too would be awesome although the case that I had in a client project was just the simple one described in my snippet above. It seems that implementing the one in you snippet should not be too hard either.

[2017-05-08 12:24] jbandura commented on #56
I agree we should probably avoid injecting controllers whenever it's possible - if it's not possible the rule should probably be disabled only in this single case.

[2017-05-10 11:06] Turbo87 opened #61 "New rule: "import-rsvp/jquery""
Instead of accessing `Ember.$` and `Ember.RSVP` we should:

[code]

I think it might be a good idea to encode that in an ESLint rule

[2017-05-18 13:18] amk221 opened #62 "Add support for tagged templates"
[code]

`layout` is being detected as an unknown type, and so I am getting suggestions it should be placed lower down.

[2017-05-19 17:51] sudowork opened #63 "Question on named-functions-in-promises"
So I understand the main motivation for `named-functions-in-promises` is testability. I also prefer named functions for readability in stacktraces/debugging.

However, I currently am of the opinion that using arrow functions to bind context is a bit more readable than just doing a `.bind()`. Adapting the example from the docs:

[code]

From my perspective, this still keeps the testability and debu

[2017-05-20 07:10] bardzusny commented on #63
Thanks for your PR! 🙂

This one comes back once in a while 😄 . I believe it's a good direction to go in, while not being 100% convinced that allowing only methods defined on `this` is the right idea. Most importantly, current rule perfectly allows i.e.:

[code]

... and breaking away with this seems both unnecessary and backwards-incompatible.

TL;DR I think that simply allowing one-line arrow fun

[2017-05-20 07:21] bardzusny commented on #63
I'll also leave here an example of case that I met with several times IRL, and would be solved by this proposed modification to `named-functions-in-promises` rule. Namely: passing additional parameters to promise callbacks.

[code]

See how:
* weirdish `.bind` call is necessary to pass `userType` to `_formatUser` method
* `someOptionalParam` is hard to pass, at all - it would require changing `_fo

[2017-05-20 15:52] sudowork commented on #63
Yes, I've also definitely run into the `.bind(this, partially, applied)` and find the constraint on parameter ordering to be restrictive.

I'm happy to remove the check that the method must be called on `this`. I was trying to read between the lines in the docs/example and I thought that may have been what was desired.

[2017-05-23 12:51] michalsnik commented on #56
Released in v3.2.0 🎉

[2017-05-23 12:51] #56 closed

[2017-05-23 16:28] michalsnik commented on #63
Okay, I left some comments in your PR. I think we're almost there @sudowork  :)

[2017-05-23 17:02] michalsnik commented on #28
Ah true, are we closing this issue then @netes?

[2017-05-23 17:41] michalsnik commented on #61
Hmm, okay. This makes sense 👍

But, currently lots of us do smth like:
[code]

So we already use `$` and `RSVP` directly which complicates this rule a bit.

I'm thinking about actual implementation of this rule. And it looks like apart from looking for `Ember.$` and `Ember.RSVP` we need to check for the existence of `import $ from 'jquery';` and `import RSVP from 'rsvp'` and then if they don't exi

[2017-05-23 17:44] michalsnik commented on #62
I think you're right and we should support it too 👍

[2017-05-23 18:42] netes commented on #28
I think so :)

[2017-05-23 18:42] #28 closed

[2017-05-23 19:07] #62 closed

[2017-05-23 20:06] #63 closed

[2017-05-24 11:01] michalsnik opened #69 "Add optional `requireThisBinding` in `named-functions-in-promises` rule"
As discussed in #64 we agreed that it might have a sense to add new optional setting, called for example `requireThisBinding` which would require using current module's methods instead of custom ones.

Example with `requireThisBinding = true`:
[code]

Default setting would be `false` so all of the above examples will work fine and we'll keep it backwards compatible.

I don't have any better name f

[2017-05-29 23:52] utilityboy opened #72 "Error running `ember` @ 2.6.2 with addon installed"
I have an application running ember 2.6.2 and after installing `eslint-plugin-ember` I'm met with the following:

[code]

Is there anything I'm missing here?  I took a brief look at the dependencies for the addon and nothing jumped out at me.

Many thanks.

[2017-05-30 02:19] varoot opened #73 "After upgrading to v3.4.0, I got an error running Ember CLI: An addon must define a `name` property."
This is what I got, even if I just run `ember -v`:

[code]

[2017-05-30 07:59] varoot commented on #73
I think because of the latest release, it registers this as an Ember addon, and therefore "name" key is required in `index.js`

[2017-05-30 09:27] #73 closed

[2017-05-30 09:38] michalsnik commented on #73
Fixed in `v3.4.1`

[2017-05-30 14:10] miguelcobain opened #75 "alias-model-in-controller to restrictive?"
I just started using eslint-plugin-ember. One thing I noticed is that i get a lot of `alias-model-in-controller` errors. The rule makes sense, but some times we have routes where we're not interested in the model. e.g a login route or a forgot password route.
I wonder if we have any alternative. Maybe detect if the model hook was implemented or not?

[2017-05-30 14:19] nfc036 commented on #72
I have the same problem with ember-cli@2.13.2 and eslint-plugin-ember@3.4.0.

My current workaround: eslint-plugin-ember@3.3.0 is ok.

[2017-05-30 17:19] scottkidder commented on #75
We've run into the same thing. I think that although it would be nice, that type of check is out of the scope of linting.

As a solution for this and another issue we've considered creating a set of blueprints that:

1. Follow rules so that a freshly generated file does not have lint failures.
2. Optionally? include an eslint disable for certain rules like `alias-model-in-controller`

[2017-05-30 20:15] scottkidder opened #76 "Base does not mention new rule no-capital-letters-in-routes"
A default settings for this rule should exist in:
https://github.com/netguru/eslint-plugin-ember/blob/master/config/base.js

[2017-05-31 07:03] #76 closed

[2017-05-31 07:04] michalsnik commented on #72
Hey, version `3.4.1` fixed this problem, check it out.

[2017-05-31 07:04] #72 closed

[2017-05-31 07:11] michalsnik commented on #75
Hey @miguelcobain, I don't think we can check in controller if model hook is implemented on corresponding route, unfortunately..

All of those rules are not mandatory however. You can always disable any rule in `.eslintrc` or per file using `/* eslint-disable ember/alias-model-in-controller */`. I don't see any better solution to this problem at this moment.

@scottkidder Blueprints' topic is some

[2017-05-31 08:05] nfc036 commented on #72
I can confirm that 3.4.1 is working as expected. Thank you!

[2017-05-31 13:11] miguelcobain commented on #75
Absolutely. What I did was to disable it globally. But I can imagine a good workflow to disable it on a controller by controller basis.

Feel free to close this issue if no further action is required.

[2017-05-31 13:31] #75 closed

[2017-06-01 09:52] varoot opened #78 "Component property is not recognize if it has a negative value"
[code]

this will generate an error saying that "someComputedValue" single-line function should be above the "tabindex" unknown property

[2017-06-01 12:48] michalsnik commented on #48
Released in `3.4.1`

[2017-06-01 12:48] #48 closed

[2017-06-01 12:50] michalsnik commented on #78
Thanks for reporting this @varoot !

[2017-06-06 15:38] buschtoens opened #79 ""alias-model-in-controller" should allow nested properties"
[code]

[code]

Loading multiple different models via `RSVP.hash` and aliasing them is a common pattern in Ember applications. Currently `alias-model-in-controller` does not detect this and prompts the user to alias `model`.

[2017-06-07 23:31] #79 closed

[2017-06-12 08:42] amk221 opened #81 "Add a changelog"
Changelogs are especially useful for projects like this where it serves as a go-to place to discover whether new rules have been added or existing rules have been deprecated.

[2017-06-12 14:13] alexdiliberto commented on #42
Looked into this a bit this past weekend, it's a more involved fix that includes updating the netguru eslint rules to handle potential `babel-eslint` parser usage (because the AST's are different). Anyone with the experience or time to make these changes would be a big help /cc @bartocc.

[2017-06-19 09:03] michalsnik commented on #81
Hey @amk221. You should check https://github.com/netguru/eslint-plugin-ember/releases I believe we keep there all the informations you're interested in :)

[2017-06-19 09:03] #81 closed

[2017-06-21 13:00] Dhaulagiri opened #82 "New rule proposal: ensure this._super() is called in lifecycle hooks"
It is generally a good practice to call `this._super(...arguments)` in Ember's lifecycle hooks, so this rule would enforce its existence.  For setup hooks it would enforce it being the first thing called, and in teardown hooks it would enforce it being the last thing called.

[2017-06-26 09:15] amk221 opened #83 "Support member functions"
With the following...

[code]

I get `the 'bar' multi-line function should be above 'foo' method`, but I wasn't expecting to.

[2017-06-26 11:08] bardzusny commented on #82
1. This is not something that is always done, for all lifecycle hooks. Sometimes it can be omitted on purpose, i.e. `beforeModel` hook transitioning to other route and not calling `this._super(...)` at all. We would probably have to white/blacklist selected lifecycle hooks.
2. Some hooks already have explicit deprecation warnings when `._super` call is not present (i.e. `init()`).
3. Order is quit

[2017-06-30 08:39] Exelord opened #84 "[BUG] routes-segments-snake-case"
Hi guys,
during running eslint with your plugin I'm getting this error.
The temporary fix for that is disabling the rule but I would like to use it if possible :)

[code]

[2017-06-30 08:53] michalsnik commented on #83
Ok, I didn't think about that case before. I agree this should be treated equally and not throw any error. Thanks for posting this issue @amk221 :)

[2017-06-30 08:55] michalsnik commented on #84
Hey @Exelord, thanks reporting an issue, but please paste the code example that is causing this as well, that would be really helpful :)

[2017-06-30 09:00] Exelord commented on #84
This can be a problem because this project is a huge one and I'm not authorized to share even parts of this code. I will try to find the bug but I can't promise it will be possible :/

[2017-06-30 09:06] Exelord commented on #84
OK, I know this is incorrect but for some reason, it is in use 🚑 .
You can try to write a test in case someone will put sth like this:

[code]

[2017-06-30 09:20] michalsnik commented on #84
Ok, I'll try to investigate it.

[2017-06-30 14:00] BennyAlex opened #85 "computed.readOnly(), breaks order-in-components"
@netguru
I have a readonly computed property
[code]
and it says that `actions: {}` should be above _companies_

[2017-07-01 19:15] Turbo87 commented on #61
FWIW https://github.com/ember-cli/ember-rfc176-data has more information on the suggested new import paths

[2017-07-03 18:25] Turbo87 opened #86 "New rule: new-module-imports"
This rule should warn about:

[code]

and e.g.

[code]

instead the new module imports should be used, e.g.:

[code]

more information is available and linked at https://github.com/ember-cli/ember-rfc176-data

[2017-07-05 17:36] michalsnik commented on #85
Hey @BennyAlex, you should probably use:
[code]
instead. Let me know if that helped :)

[2017-07-06 12:54] michalsnik opened #87 "New rule: `no-reserved-imports`"
According to https://github.com/ember-cli/ember-rfc176-data I think we can add a rule that will check if reserved identifiers like `Object` are being imported.

**Incorrect:**
[code]

**Correct:**
[code]

All reserved keys are here: https://github.com/ember-cli/ember-rfc176-data/blob/master/reserved.json

[2017-07-07 06:51] Turbo87 opened #88 "Import rules from "eslint-plugin-ember-best-practices""
It seems that the folks at LinkedIn started yet another ESLint plugin for Ember at https://github.com/ember-best-practices/eslint-plugin-ember-best-practices

IMHO we should focus our efforts on *one* plugin and `eslint-plugin-ember` seems to be the best fit for that.

I would like to propose to

1) import the rules from the other project
2) move this project into an independent GitHub org so that

[2017-07-07 13:11] rwjblue commented on #88
@Turbo87 https://github.com/ember-best-practices/eslint-plugin-ember-best-practices was not started due to NIH (and the org itself has nothing to do with LinkedIn), that type of verbiage is detrimental to the goals of the type of unification that you are proposing here.

[2017-07-07 13:22] Turbo87 commented on #88
@rwjblue sorry, didn't mean to offend anyone

[2017-07-07 13:45] michalsnik commented on #88
Hey guys! I'm all for full cooperation, but just so you know I was already talking about this with Chad and we agreed that it's good idea to merge some of the rules from eslint-plugin-ember-best-practices here. I even created issues in which I'm pointing which rule should be ported. You should check them out :) I only didn't have enough time to work on them.. But we're going to port them at the be

[2017-07-07 15:54] scalvert commented on #88
The https://github.com/ember-best-practices/eslint-plugin-ember-best-practices repo was initially created internally in LinkedIn, but quickly became apparent that the rules could be leveraged by others in the community. I know discussions started a while ago about merging the two, and my preference would be to absolutely merge and collaborate going forward.

[2017-07-08 06:17] michalsnik commented on #88
I'm glad we're on the same page here. I'll be happy to add some of you guys @scalvert as collaborators so we can work on this process more effectively.

[2017-07-10 12:04] michalsnik commented on #87
cc @Turbo87 ☝️

[2017-07-11 15:22] #84 closed

[2017-07-12 16:12] drewchandler opened #95 "inject not detected as a service by ordering linters"
The new modules have you import `Ember.inject.service` like `import { inject } from '@ember/service'`. `foo: inject()` is not detected as a service by the ordering linters, so you are told to rearrange them.

[2017-07-12 19:49] scalvert commented on #88
👍

[2017-07-13 09:43] michalsnik commented on #78
@varoot fixed in `v3.6.2` 🚀  Thanks @jbandura !

[2017-07-13 09:43] #78 closed

[2017-07-13 09:44] michalsnik commented on #85
This is connected to #83 so I'm closing this one. And above solution should help you with this particular problem @BennyAlex :)

[2017-07-13 09:44] #85 closed

[2017-07-13 09:59] michalsnik commented on #88
@scalvert I'd say let's try to import first rule of yours here and if our utility functions are not enough we can add additional ones or improve them. We have quite extensive test suite so we should be able to catch any issues up front :) Let's start with simple `no-attrs-snapshot` (#51). `get` utility seems like a good one to add in this repo too. And about anything else - we use structure define

[2017-07-13 10:55] buschtoens opened #96 "Improvement: Support for native ES6 Classes"
Currently `eslint-plugin-ember` only lints standard EmberObject model classes, i.e. `Controller.extend({ ... })`. But native ES6 classes [are on the horizon](https://github.com/rwjblue/ember-decorators#application-usage) and may already be used with [some](https://github.com/rwjblue/ember-decorators/issues/123) [caveats](https://github.com/emberjs/ember.js/blob/7819409b7b6559e9fc0300a29e66a16356fb

[2017-07-13 11:01] buschtoens commented on #96
By the way: things you would have passed to `reopenClass({ ... })` can now just use the `static` keyword:

[code]

[2017-07-13 11:07] buschtoens opened #97 "New rule: `call-super`"
In almost all cases you should call `this._super(...arguments);` when overriding methods.

Without inspecting the prototype chain, we can't guard for all possible overwrites, however we can at least guard for known methods provided by Ember. For example, overriding `didReceiveAttrs` in a component should prompt you to call `this._super` in that method.

Side note regarding #96: for ES6 classes it'

[2017-07-13 11:47] michalsnik commented on #95
Good point @drewchandler. We should definitely address this case now too. Thanks for catching it!

[2017-07-13 11:53] michalsnik commented on #97
Hey @buschtoens, thanks for this proposition, but I think it's kind of a duplicate of #82 isn't it? If yes then we can continue this conversation there. If not - please reopen this issue :)

[2017-07-13 11:53] #97 closed

[2017-07-13 11:56] michalsnik commented on #96
Hey, I was thinking about this already @buschtoens , but I'm not sure we want to support it at this moment. We should probably wait until things settle down a bit. But I'm open for a discussion here, maybe we can come up with something good. When I think about this case however I see a tons of work to be done in order to support it without introducing any breaking changes.

[2017-07-13 12:49] buschtoens commented on #97
Whoops, my bad.

[2017-07-14 00:25] scalvert commented on #88
Sounds good. I'll start with that, adhering to this structure.

[2017-07-14 00:42] scalvert commented on #51
I've picked this issue up. PR forthcoming.

[2017-07-14 14:20] jbandura commented on #52
Picking this up :)

[2017-07-14 22:36] michalsnik commented on #61
I'm wondering if we should add this rule or create one that will report all global imports regarding this list: https://github.com/ember-cli/ember-rfc176-data/blob/master/globals.json

[2017-07-16 22:15] #83 closed

[2017-07-17 10:55] jbandura opened #102 "Drop support for node 4"
According to ember-cli's site, the node version supported is the latest LTS, which happens to be Node 6. This probably means that we can drop support for Node 4.

[2017-07-18 11:10] ro0gr commented on #102
@jbandura can you provide the link where ember-cli site exactly defines node support matrix please?

I only found this one from repo:
https://github.com/ember-cli/ember-cli/blob/master/docs/node-support.md

Seems like node@4.2 is still supported.

[2017-07-18 11:35] jbandura commented on #102
yes, you're right - I've been guiding myself by ember-best-practices plugin (which doesn't support node 4) and the LTS **recommended** section (not supported - misread that). But you're right - it's not explicilty stated that node 4 is not supported anymore - my bad.

[2017-07-18 16:47] ro0gr commented on #102
No worries. I just was curious if there were such a statement in the cli docs.

[2017-07-19 20:14] jbandura commented on #59
Picking this up.

[2017-07-20 08:09] michalsnik commented on #51
Released in `v4.0.0`. I had to bump major version as it's the recommended rule and it might break the build after updating.

[2017-07-20 08:09] #51 closed

[2017-07-21 18:36] scottosmith opened #105 "Nested Brace Expanded Properties"
I get errors from `ember/use-brace-expansion` with something like this:

[code]

It doesn't pass until I nest them all like this:

[code]

This does not work. Ember does not support nested brace expansion, per [this comment/code](https://github.com/emberjs/ember.js/blob/master/packages/ember-metal/lib/expand_properties.js#L45).

[2017-07-22 15:13] Baukereg opened #106 "Installation problem, possible documentation missing"
I'm trying to get this plugin working in an Ember addon, but after installation (as described in the documentation) I still get this error:

[code]

This addon is added to my package. Ember-cli-eslint is installed as well.

[code]

And I can see it in the node_modules folder as well. My .eslintrc looks like this:

[code]

If there is a step I'm missing, it might be something missing from the docum

[2017-07-23 14:38] michalsnik commented on #105
I confirmed it and it's definitely something we should take into consideration. Thanks for posting this issue @scottosmith

[2017-07-24 17:37] michalsnik commented on #106
Hey @Baukereg, it looks like you didn't extend the `plugin:ember/recommended` config.
Try this:
[code]

[2017-07-24 17:43] michalsnik commented on #106
I just tested it on a new project and it works like charm :)

[2017-07-24 17:43] #106 closed

[2017-07-27 14:02] rwwagner90 opened #109 "Proposed rule: newlines between sections"
I am curious if it is possible to enforce that there is a newline between each section enforced by order-in-components etc. So you would have to have like:

[code]

Is this possible to enforce?

[2017-07-27 21:26] t-sauer commented on #87
You can already do this with ESLint with this rule:
[code]

[2017-07-28 14:09] jbandura opened #110 "Properly detecting order in components/routes/controllers/models with destructuring and new module imports"
## Problem (demonstrated on services)
Currently we're only looking at type of function when deciding about the order. For example while this would be detected properly:
[code]
..this one would fail (even though it's perfectly valid):
[code]

## Solution
We need to keep track of destructured names for the given functions and compare the one we get is the one that was destructured (similiar work had

[2017-07-28 14:23] jbandura opened #112 "New rule: "no-send-action""
Import "no-send-action" rule from @chadhietala's https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/guides/rules/no-send-action.md

[2017-08-01 07:06] #52 closed

[2017-08-01 07:09] #53 closed

[2017-08-01 07:30] #95 closed

[2017-08-01 07:36] michalsnik commented on #87
Oh, true @t-sauer. Then I think we should add this to recommended config.

[2017-08-01 07:39] michalsnik commented on #109
I think it's doable, but not as straightforward as it might seem :)

[2017-08-01 07:41] michalsnik commented on #110
I think it's something we should do alongside work on new module imports. Let's move this example there and keep all `new-modules` related stuff in one issue. What do you think @jbandura ?

[2017-08-01 07:47] Turbo87 commented on #87
that would require a breaking change release again and I'm very much against that in the foreseeable future. IMHO we should only do breaking change releases if we actually need to break how a rule behaves, the recommended config should ideally live outside of this repo/project.

[2017-08-01 07:49] Turbo87 commented on #87
@t-sauer the potential advantage of having a custom rule would be that it can be `--fix`-able, but it's probably not worth it in this case 🤔

[2017-08-01 08:22] kevinkucharczyk commented on #112
Isn't this already implemented here as [closure-actions](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/closure-actions.md)?

[2017-08-01 09:50] kevinkucharczyk commented on #87
I found that there was a similar suggestion made to the Airbnb eslint base and it was not merged, with this as the reasoning: https://github.com/airbnb/javascript/pull/667#issuecomment-169913792
So similarly, I don't think we should be including the `builtinGlobals` option in our configuration.

[2017-08-01 10:12] eharrow opened #113 "Ember serve and eslint failure when plugin ember/recommended is enabled"
Fab plugin BTW though I have an issue after upgrading to ember 2.14.0 and the ember/recommended plugin is enabled in my .eslintrc.js

running `ember serve` results in

[code]

.eslintrc.js:
[code]
Removing `plugin:ember/recommended` and it starts up ok.

package.json as follows:
[code]

[2017-08-01 10:46] michalsnik commented on #113
Try `v4.1.2`

[2017-08-01 11:06] eharrow commented on #113
Winner.  This resolves the issue.

[2017-08-01 11:10] michalsnik commented on #113
The real issue remains in `no-global-jquery` rule though, but we'll work on it.

[2017-08-01 11:11] #113 closed

[2017-08-01 12:17] michalsnik commented on #113
@eharrow We just released `v4.1.3` and you should be able to turn `no-global-jquery` rule on again:
[code]

It's not enabled by default now, but when you enable it please let me know whether the issue disappeared.

[2017-08-01 13:53] michalsnik commented on #112
@kevinkucharczyk is right, we already have it

[2017-08-01 13:53] #112 closed

[2017-08-01 20:00] rwwagner90 commented on #109
@kevinkucharczyk could it not be an option for the `order-in-*` rules? I know a lot of ESLint rules do a lot of things if you configure them correctly, but I am unsure where to draw the line on that.

[2017-08-02 08:05] kevinkucharczyk commented on #109
Yeah, adding it as an option should work. I would be fine with it, I think it would be a great "nice-to-have" linter, thought I would keep the option off by default.
@rwwagner90 would you like to implement the rule?

[2017-08-02 09:48] kevinkucharczyk commented on #109
So @michalsnik and I had a chat about this rule and we came up with an alternative approach, which we believe is a nice compromise.
First of all, this would be its own rule, so we wouldn't be implementing this as an option do `order-in-*` after all.
The way it would work would be to report missing newlines between all properties that are in separate sections. So if your properties are ordered into

[2017-08-02 10:17] michalsnik commented on #109
Yeah, plus if we add the `fix` method we'd have to implement reversed functionality aswell. Because if you try to fix (add) empty lines while your properties are unordered you'll get bunch of unnecessary new lines, that this rule should also remove when are in wrong places.

[2017-08-02 10:33] eharrow commented on #113
Thanks that works as expected.

[2017-08-02 11:05] rwwagner90 commented on #109
@kevinkucharczyk I think that sounds fine. My only concern is that it kind of only makes sense to turn this rule on, if you have the `order-in-*` rules on, and that people wouldn't realize that and would try turning it on anyway, hence the reasoning behind wanting it to be an option to `order-in-*`. If you guys think that's a non-issue, then I'm totally fine with it 😃

[2017-08-02 11:48] kevinkucharczyk commented on #109
@rwwagner90 you just made me realise that there would still be another problem if we introduce this as a separate rule: what if a developer defines a custom `order` section array for his `order-in-*` rule? We would need to have the same array inside our newline rule, since we need to know which sections are considered equal, so that we don't enforce newlines between those properties.
Going back to

[2017-08-02 11:50] rwwagner90 commented on #109
@kevinkucharczyk ah I did not consider people overriding their orders. I would be okay with there being no `fix` option for it. I'd rather be able to enforce it, and have people fix it manually, than not be able to enforce it.

[2017-08-02 14:30] rwwagner90 commented on #109
As a side note, I would love to be able to enforce alphabetical order per section as well 😄

[2017-08-03 10:01] kevinkucharczyk commented on #109
@rwwagner90 alphabetical order as well? We'll gladly accept a PR, if you're willing to implement those rules ;)

[2017-08-03 10:19] #61 closed

[2017-08-03 10:19] #86 closed

[2017-08-03 11:43] rwwagner90 commented on #109
@kevinkucharczyk so should these rules be implemented as options for `order-in-*`? I'm not sure that they make sense otherwise.

[2017-08-03 11:46] kevinkucharczyk commented on #109
@rwwagner90 I agree, options do seem to be the best approach here, since the newline rule is so closely tied to the validity of the sectioning.

[2017-08-03 13:29] rwwagner90 commented on #110
Since module imports will be enforced, and destructuring will be going away, is this needed?

[code]

Works just fine, and I feel like we could use this time to work on other, more pertinent rules.

[2017-08-03 13:35] rwwagner90 opened #119 "Rule change proposal: order-in-routes execution order"
I find it a bit strange that `beforeModel` is placed after `model` in the `order-in-routes` rule. I also think there is probably some confusion in the community around the order the route hooks fire in. Would it not make more sense to order based on execution order of the hooks?

Something like this:

[code]

[2017-08-04 10:33] kevinkucharczyk commented on #119
@rwwagner90 that sounds like a great idea! You could do the same in `order-in-components` as well.

[2017-08-04 10:33] michalsnik commented on #88
@scalvert please take a look if there is anything left to add, but I think we're good now. Some of the rules we already had, but under different names. If you'll have any anything to add please create separate issue per each idea :)

[2017-08-04 10:33] #88 closed

[2017-08-04 10:48] michalsnik commented on #110
This works @rwwagner90 because we detect services as `inject` and `services` and if you use:
[code]
it won't. It's not a big deal though, who would ever want to override such thing with completely custom name, especially in ember where everything is well organised and opinionated. I'm ok with chilling with this a bit. We can improve this in few months and maybe even do a major release then without

[2017-08-04 11:24] michalsnik commented on #82
Makes sense @bardzusny I think we should implement for now only the 2nd point and warn about no  `super` calls in `init` methods. Like https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/guides/rules/no-broken-super-chain.md

[2017-08-04 11:39] rwwagner90 commented on #119
@kevinkucharczyk would that be supported as the official order, if I were to PR it in?

[2017-08-04 11:40] rwwagner90 commented on #110
Yeah, seems silly to want to call `service` something other than `service`. Ember is opinionated for a reason.

[2017-08-07 07:24] kevinkucharczyk commented on #119
@rwwagner90 I think the recommended order should be the hook order execution, though perhaps it would be nice to give users an option to define their own order.

[2017-08-07 12:31] cibernox opened #123 "Rule to disallow jQuery"
In #121 I've created a rule to disallow usage of `this.$` in components and tests, which brings us closer to a rule that disallows jQuery but it's not everything we should use.

This of patterns that use jQuery (not all of them can be "linted")
- `this.$`
- `import whatever from 'jquery';`
- `Ember.$`
- `const { $ } = Ember;`
- Apps that don't have `ember-native-dom-event-dispatcher` among their d

[2017-08-07 12:55] #59 closed

[2017-08-07 12:57] #82 closed

[2017-08-07 12:59] michalsnik commented on #123
I'd go with `no-implicit-jquery` and block usage of:
- `this.$`
- `Ember.$`
for start, then we can revise it

[2017-08-08 09:22] jbandura commented on #119
Sounds like a great idea 👍

[2017-08-08 09:24] jbandura commented on #87
I think that having a dedicated fixable rule just for the ember object, string, etc. might be a good idea, I'd personally find it valuable.

[2017-08-09 14:14] cibernox opened #127 "Documentation task has problems with the $ sign"
See comment https://github.com/ember-cli/eslint-plugin-ember/pull/121#discussion_r132178508 for details on how it's broken.

[2017-08-09 20:39] caseywatts opened #128 "`named-functions-in-promises` `allowSimpleArrowFunction: true` and wait()"
About `named-functions-in-promises` with `allowSimpleArrowFunction: true` setting.

This line fails:
```        return wait().then(() => expect(this.get('primaryAction').calledOnce).to.be.true);```

But passes when changed to this (which doesn't work):
```        return wait.then(() => expect(this.get('primaryAction').calledOnce).to.be.true);```

Something about this linter makes `wait().then` inv

[2017-08-14 22:25] caseywatts opened #129 "named-functions-in-promises"
I really like the idea behind this rule, but it needs more tweaking to be useful for my team.

We just tried applying this rule to an app, and we liked what the rule got us to do in 2/10 of the instances . In these there were more than two statements (~6). Extract these to a private function made it more readable. We aren't testing these directly right now anyway, so testing wasn't a factor in thi

[2017-08-14 23:14] jonathanong opened #130 "running --fix w/ ember/use-ember-get-and-set messes up my code"
<img width="636" alt="screen shot 2017-08-14 at 4 12 50 pm" src="https://user-images.githubusercontent.com/643505/29295845-8d63733a-810b-11e7-9c62-ad8b7448c4e9.png">
<img width="630" alt="screen shot 2017-08-14 at 4 13 33 pm" src="https://user-images.githubusercontent.com/643505/29295846-8d74b8a2-810b-11e7-9175-7f31321c30eb.png">

seems like `Ember, Ember,`s keep getting added every time i run `--

[2017-08-15 06:43] micky2be opened #131 "Way to set order for the event of Model in order-in-models"
Can't find a way to set the position for the events of Model.
The `didCreate`, `didUpdate`, `ready` and so on.

Try to play with `lifecycle-hook` with no luck

[2017-08-15 11:36] michalsnik commented on #87
Ok, so it looks like indeed having a dedicated rule will be most valuable in this case.

[2017-08-15 11:37] #69 closed

[2017-08-15 11:39] michalsnik commented on #102
Ok so we're holding this proposition for now and will get back to this in a while.

[2017-08-15 11:39] #102 closed

[2017-08-15 12:08] michalsnik commented on #128
Hey @caseywatts, thanks for posting this issue.

First of all, this rule detects asynchronous actions based on few keywords (`then`, `catch` and `finally`) that are being called on a `CallExpression`. With that being said it warns you in the first example as you call `wait().then()`, but it doesn't perform any check in the second example because  you call `then()` a simple variable, not a `wait()`

[2017-08-15 12:17] michalsnik commented on #129
Hey, I think I get your point @caseywatts but can you please add some example in this issue so that everyone can see those scenarios that you're talking about?

One thing I keep thinking of is that not all rules are to be used by everybody. You only use rules that are compliant with your coding style and make sure others follows it. If that rule doesn't work for you than you should probably not us

[2017-08-15 12:22] michalsnik commented on #130
Hi @jonathanong! Thanks for posting this issue. I'll try to confirm it soon.

[2017-08-15 12:24] michalsnik commented on #131
Hey @micky2be It's not possible yet, but @rwwagner90 is working on this for `order-in-routes` so soon it might be also available in models.

[2017-08-15 12:42] rwwagner90 commented on #131
@michalsnik would love a review of the current state of my PR, and we can start getting these order changes into models and components as well 😄

[2017-08-15 15:20] caseywatts commented on #129
We're content for now having the rule off, right~

It's a shame though, because the spirit of this rule is something I'm behind. I end up suggesting extracting named functions often enough in code reviews - it'd be awesome if the computer could do it for us.

---

ooh yes, examples would be so helpful here!

Here's one change where I appreciated the rule:
![image](https://user-images.githubusercon

[2017-08-15 15:27] caseywatts commented on #128
👍 we might want to disable this rule in tests, agreed :)

[2017-08-15 19:55] michalsnik commented on #130
@sudowork can you please also take a look, I remember you were working on this recently :)

[2017-08-15 20:14] sudowork commented on #130
Yes, I can take a look shortly @michalsnik

[2017-08-17 07:12] #130 closed

[2017-08-19 08:35] Turbo87 opened #134 "Remove opinionated configurations"
In ESLint it is common to have `eslint-plugin-*` project that provide custom rules and `eslint-config-*` projects that provide custom configurations (aka. rulesets). IMHO this project should only provide the custom rules for Ember projects, but no opinionated configurations. Instead opinionated configurations should be provided by projects like https://github.com/simplabs/eslint-config-simplabs an

[2017-08-30 11:28] Exelord commented on #84
@michalsnik The issue back to the life again :/

[2017-08-30 11:36] michalsnik commented on #84
@Exelord in 4.3.0?

[2017-08-30 11:46] Exelord commented on #84
Sorry for bothering. Works perfectly. I had old version in global scope :/

[2017-08-30 11:48] michalsnik commented on #84
np, I'm glad it works :)

[2017-08-30 13:18] Exelord opened #135 "[BUG] ember/use-ember-get-and-set auto-fix"
Hi,
The auto-fix for `ember/use-ember-get-and-set` behaves very unexpected:
<img width="931" alt="screen shot 2017-08-30 at 15 16 17" src="https://user-images.githubusercontent.com/1469375/29874227-6890e9b0-8d96-11e7-9e17-234d6387974b.png">

Probably needs some adjustments.

[2017-08-31 14:28] jbandura commented on #134
How about keeping only rules which provide educational value (e.g. `use-brace-expansions', 'avoid-leaking-state-in-components`) as recommended? I guess that the most likely candidates to be turned off as being too opinionated would be `use-ember-get-and-set` and all the `order-in-*` rules. I feel that all the others provide real value, such as preventing unexpected behaviour or warning about depre

[2017-09-01 22:04] akatz opened #136 "no-old-shims with named imports"
I'm not in a place where I can open the PR but I will soon. It seems that https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/rules/no-old-shims.js#L41 needs to be wrapped in a conditional or imports that look like this:
`import { inject as injectService } from 'ember-service';` fail and throw an error.

[2017-09-01 22:49] #119 closed

[2017-09-01 22:52] michalsnik commented on #128
Yeah, feel free @caseywatts :)

[2017-09-01 22:52] #128 closed

[2017-09-01 23:03] michalsnik commented on #134
@Turbo87 I completely agree with @jbandura.

First of all Ember is an opinionated framework for a reason, and one of it's biggest advantages is the fact, that you get everything by default and you can straight away start shipping features. I think we should keep this spirit here and provide simplest possible way of supporting developers writing better code without the need to look for additional c

[2017-09-01 23:19] michalsnik commented on #119
Released in `v4.4.0` 🚀 Thanks @rwwagner90

[2017-09-01 23:24] michalsnik commented on #123
Released in `v4.5.0`

[2017-09-01 23:24] #123 closed

[2017-09-01 23:26] michalsnik commented on #131
@micky2be this should be possible from version `v4.4.0` up :) We just released @rwwagner90 changes that made it possible. Please take a look at [updated docs](docs/rules/order-in-routes.md)

[2017-09-01 23:27] michalsnik commented on #131
Ah sorry, you had `Model` in mind. It's possible in routes at this moment, and we'll work on the rest of resources soon

[2017-09-01 23:31] michalsnik commented on #135
Hi @Exelord,

We already had the same issue reported: https://github.com/ember-cli/eslint-plugin-ember/issues/130

It's fixed in `v4.4.0` and up :)

[2017-09-01 23:31] #135 closed

[2017-09-04 20:16] Turbo87 commented on #134
@jbandura @michalsnik the problem with having the config in the repo is that whenever a useful rule is added that we want to add to the `recommended` set we will have to do a major release since it's essentially a breaking change if people depend on that preset

[2017-09-05 01:50] rwwagner90 commented on #134
FWIW, I would be in favor of voting on rules and doing some sort of RFC process or something, that way we can recommend a preset for ember projects to try to standardize things across the community. Everyone is going to have different opinions on things like spacing, etc, but rules that are good Ember practices should be an easy set for most people to agree on enforcing, I, for one, would be fine

[2017-09-06 22:12] johnunclesam opened #138 "Can you explain to me this rule? alias-model-in-controller"
I have many little, small controllers like this one:

[code]

and I have many errors for this rule: **alias-model-in-controller**.

Why?

I read this: https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/alias-model-in-controller.md but I don't understand the reason. I don't use `model` in my controllers.

[2017-09-06 22:42] johnunclesam opened #139 "named-functions-in-promises on Promise.resolve()!"
What if I use something like this in my code?

[code]

I everytime have this error: `[eslint] Use named functions defined on objects to handle promises (ember/named-functions-in-promises)`.

But the error here is on the `.resolve()` which is a lot useful! Am I wrong?

[2017-09-07 04:33] karthiick commented on #138
@johnunclesam As of now, everything you return from route's model hook set as a `model property` in controller. We can have more meaningful property name like `people, pets` instead of model, but not without explicitly setting in setupController.

Contextual naming will be possible in routable components and this rule ensures that we avoid using the generic property name `model` in controller.

I

[2017-09-07 13:59] jbandura commented on #138
I was actually considering the same thing a couple of days ago. I think the problem is that there's no way to actually detect whether you're using the model hook in the route to fetch anything or not.

[2017-09-07 14:03] johnunclesam commented on #138
Detect it in the route and stop! If I'm not using model in the controller I don't need this error. No?

[2017-09-07 21:42] johnunclesam opened #140 "Use named functions defined on objects to handle promises (ember/named-functions-in-promises) where everything is ok!"
Something I don't understand!

![error](https://user-images.githubusercontent.com/21275217/30186499-18bf2492-9426-11e7-96be-71ff2cdac494.PNG)
![errordescription](https://user-images.githubusercontent.com/21275217/30186503-1b389708-9426-11e7-9f26-0ba4e1a8593e.PNG)

Why this is an error?

[code]

[2017-09-08 00:35] johnunclesam opened #141 ""named-functions-in-promises" on a small small small function!"
On this:

[code]

isn't crazy to give: `[eslint] Use named functions defined on objects to handle promises (ember/named-functions-in-promises)` ?

[2017-09-08 00:43] rwjblue commented on #141
Not sure why you created a duplicate issue for this?

Closing in favor of #140.

[2017-09-08 00:43] #141 closed

[2017-09-14 13:18] timo-lindemann-victors commented on #138
I can see the general reasoning behind the rule, but it stumped me because there isn't even a route set up (meaning that I don't have a route file in that route, so the default route is set up by Ember) and I still get this error and couldn't understand what I was doing wrong. I resorted to ignoring this particular rule, but it took me a while to even understand what was happening.

[2017-09-19 07:56] BennyAlex commented on #85
@michalsnik
I have a little question so I ask it here now, the issue is already closed.

So I know this is bad because of the leaking-state-in-components:
[code]

But what is with this?:
[code]
Will this causes leaking state? Is it good practise?
I like it more than creating arrays in the init methode.

[2017-09-19 09:55] BennyAlex opened #143 "avoid-leaking-state-in-components dosn't check for Ember.A or Ember.Object"
Example:
[code]

This will not throw a  `avoid-leaking-state-in-components` warning

[2017-09-19 21:05] jbandura commented on #143
Good catch! I'll try to tackle it on the weekend if nobody gets to it sooner :)

[2017-09-20 16:32] Kerrick commented on #42
Another incompatibility with ember-computed-decorators (now ember-decorators) is that `ember/avoid-leaking-state-in-components` fails the "[Real-world get/set syntax](https://ember-decorators.github.io/ember-decorators/docs/function/addon/object/index.js.html#-quot-real-world-get-set-syntax-quot-)" from the ED docs.

[2017-09-22 09:13] michalsnik commented on #134
@rwwagner90 I'll prepare PR on which we can further iterate and discuss importance of enabling/disabling specific rules.
I get your point totally @Turbo87 but I already went this road with `eslint-plugin-netguru-ember` and `eslint-config-netguru-ember` and keeping both repositories in sync is a pain in the ass and it may lead to more false positives and confusion.

[2017-09-22 09:17] michalsnik commented on #138
No you don't need to @johnunclesam but we can't check both route and template to distinguish if you're actally using it or not. If the rule does not fit your needs then simply disable it, it's not that you have to use all rules ;)

[2017-09-22 09:17] #138 closed

[2017-09-22 09:20] michalsnik commented on #140
Hey @johnunclesam , I think explanation of your problem is right here: https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/named-functions-in-promises.md

[2017-09-22 09:20] #140 closed

[2017-09-22 21:13] robert-j-webb opened #145 "New Rule Proposal Mirage Linting"
I'm interested in writing a rule that would be mirage specific. I'm wondering if I should try to land it in this repo or if I should make my own plugin specifically for mirage linting rules. Is this the right repo for mirage linting rules?

[2017-09-25 01:41] rwwagner90 commented on #134
@michalsnik definitely keep me posted. Happy to help and weigh in whenever needed 😄

[2017-09-25 19:36] michalsnik commented on #26
@clcuevas ah you see, it should work, but for `computed`. We're detecting computed properties but not observers.

[2017-09-25 19:47] michalsnik commented on #42
Ok I think it's not necessarily a problem with `ember-decorators` @Kerrick but rather ES6 Class syntax and native getters/setters. I'm aware of the future, and that one day we'll probably start writing classes in ember, but it's not a small pill to swallow.

While introducing support for classes we'll still need to support old way. Before we introduce this change we'd rather want to make sure that

[2017-09-25 19:52] michalsnik commented on #42
Closing in favor of #96

[2017-09-25 19:52] #42 closed

[2017-09-26 19:55] #145 closed

[2017-09-26 21:34] robert-j-webb opened #147 "New Rule Request - No server logging for Mirage"
Hi, I wrote a simple rule that checks to make sure we haven't left any mirage server logging in the test code. I understand that mirage is becoming very popular in the ember community, and that this repo might be the right place for a mirage linting rule. Should I instead make a repo just for mirage linting or should I make a PR for my rule?

[2017-09-27 12:55] jbandura commented on #147
This is a very good question. I'd say even though ember-cli-mirage is a enormously popular addon in ember community, it's still not part of the framework itself, which would mean that we should probably keep it's linting rules in separate repo. I might be wrong though 🤔 Any thoughts @michalsnik @Turbo87?

[2017-09-27 12:59] Turbo87 commented on #147
I tend to agree, though I don't understand yet what this rule is actually warning about. @robert-j-webb can you give an example?

[2017-09-27 16:17] robert-j-webb commented on #147
Sure. Often when debugging acceptance tests with mirage, server logging is turned on with this:

[code]

This code shouldn't be committed into the code base. If it's turned on, then it will clutter the test output and make it hard to read. It's similar to leaving a console.log statement in.

[2017-09-28 17:41] michalsnik commented on #136
Hey @akatz, that's because it should rather be:
[code]

The code you provided is not compliant with the shims:
https://github.com/ember-cli/ember-cli-shims/blob/master/vendor/ember-cli-shims/app-shims.js#L171

[2017-09-28 17:41] #136 closed

[2017-09-28 17:48] michalsnik commented on #139
Hey, it doesn't care about whether there is `resolve()` or not. This rule only check for presence of `then`, `finally` or `catch`. Then if you won't use named function in promise callback it throws an error.

In your case you can write the code like this:
[code]
and error should be gone.

Or if you actually want to stick with arrow function and pass `post` that does not come from the resolved prom

[2017-09-28 17:48] #139 closed

[2017-09-28 18:17] akatz commented on #136
Understood, curious how it ever worked though?

[2017-10-05 04:16] xomaczar opened #149 "named-functions-in-promises rules can be"
1. Set allowSimpleArrowFunction to true by default, instead of forcing people to search and opt-in.
2. Allow `promise().then((r) => r.someRelatedData)` just to return the correct value, instead of requiring it to be a function invocation only.

[2017-10-05 04:21] xomaczar opened #150 "order-in-controllers/routes/components treats init() as just another function"
Should `init()` be a special case, I find it weird that i need to scroll all the way down past my "actions" to see what gets set during initialization of one of these things.

[2017-10-06 20:18] jonpitch commented on #28
I have a use case where I often override mirage routes in a test in order to simulate different API results. For example:

[code]

Currently `server.get` throws a linting error. Has there been any discussion about a whitelist functionality or ignoring `server.get` entirely? This is listed in the [Mirage docs](http://www.ember-cli-mirage.com/docs/v0.3.x/acceptance-testing/#asserting-a-server-call-w

[2017-10-09 14:12] BennyAlex commented on #149
In my opinion all life-cycle hooks should be above actions

[2017-10-11 23:51] davidwkeith commented on #58
Agreed, should be done with the other `order-in-*` rules. I just ran into the same issue with `order-in-components` on my model.

[code]

[2017-10-26 20:30] petey opened #157 "alias-model-in-controller errors when route has no model to alias"
It would be nice if this rule didn't care about controllers whose route doesn't expose a model.

[2017-10-26 21:37] CvX commented on #157
Route by default exposes an implicit model hook. Per docs:

[code]

So linter couldn't really tell if there's a model in use or not.

You can't always just manually disable this rule per controller:
`/* eslint-disable ember/alias-model-in-controller */`

[2017-10-27 09:14] jgoclawski commented on #129
Another example would be a very simple statement (one!), which isn't a function call, which makes it incorrect.

With `'ember/named-functions-in-promises': ['error', { 'allowSimpleArrowFunction': true }],`
this is incorrect:
[code]
and must be replaced with:
[code]

On the other hand, this is correct:
[code]

Otherwise this rule is pretty useful as it forces to use abstractions. But it could be a

[2017-10-31 10:11] mansona commented on #150
I very much think this should be a special case. In the future when we are able to use "proper" classes this will all be done in the constructor which will no doubt be the first thing a developer will see when they enter a class.

We should be encouraging people to put their init() at the top of the file in the mean time 👍

[2017-10-31 18:39] rwjblue commented on #150
Completely agreed.

[2017-11-01 13:16] Gowiem opened #158 "Add ability to include additional properties for the order-in-* config"
Just getting around to adding this plugin to my eslint config and I definitely dig it and agree with a lot of the defaults. One thing that is bugging me though is the `order-in-*` config doesn't seem to allow much leeway for project specific properties. My main example and issue here is I use [`ember-cli-prop-types`](https://github.com/crystal-ball/ember-cli-prop-types) to provide a development ru

[2017-11-01 14:12] rwjblue commented on #158
Seems reasonable to be able to completely control the ordering so that you can insert customizations before/after existing ordered properties.

👍

[2017-11-03 21:42] paulbhartzog commented on #157
Is there a way to disable it in .eslintrc or for the whole app globally?

[2017-11-03 22:38] CvX commented on #157
Yup, in .eslintrc.js:

[code]

[2017-11-06 09:39] amk221 opened #159 "ignore template literals for avoid-leaking-state-in-components"
[code]

[2017-11-06 13:55] rwjblue commented on #159
Agreed, seems like a bug to me.

The fix would be to add a check for `isTemplateLiteral` to [this conditional](https://github.com/ember-cli/eslint-plugin-ember/blob/cd3fd2e58b49143ac2a2bd0c8ab2440949c511f3/lib/rules/avoid-leaking-state-in-ember-objects.js#L21-L24).

[2017-11-06 15:38] amk221 commented on #159
Ah, to clarify, I meant tagged templates. I should use `isTaggedTemplateExpression`?
PR coming

[2017-11-06 19:08] #159 closed

[2017-11-07 08:52] PrzemoRevolve opened #161 "Add `fix` for order-in-* rules"
I'd like to propose adding fixer for `order-in-*` rules. AFAIK the common logic for those rules can be found in `property-order` util, and there's the only `context.report()` call. The good thing is that the hard work is done already - finding the token before which the current one should be inserted.
I'd like to handle this task.

What do you think?

[2017-11-07 12:31] rwjblue commented on #161
Generally speaking fixers are great! Happy to have more of our rules support auto-fixing.

[2017-11-07 22:05] kellyselden opened #162 "require-super-in-init not checking services"
not sure if intentional?

[2017-11-07 22:08] rwjblue commented on #162
It probably was intentional, but IMHO, it should be fixed.

[2017-11-08 09:06] ysmood opened #163 "no-capital-letters-in-routes will crash the linter if you use variable"
Such as

[code]

[2017-11-08 10:12] SimeonC commented on #163
The error output in this case is:

[code]

[2017-11-08 12:47] buschtoens opened #164 "routes-segments-snake-case: doesn't accept models names with dashes"
[code]

Both forms are valid and resolve to the model named `dia-image`, however `routes-segments-snake-case` doesn't seem to like it.

[2017-11-12 17:04] PrzemoRevolve commented on #161
@rwjblue yeah, there might be a tiny problem: in order to do that we need eslint >= 4.0.0.
Returning an array of fixes from fixer function is not supported in earlier versions, and that's what I'm doing: first removing the property from the wrong place, and then pasting it in the right place.
Is this acceptable?

[2017-11-14 12:36] eskab commented on #58
Another example is `order-in-components` in controller with filename:
[code]

[2017-11-14 16:58] PrzemoRevolve opened #170 "Failing test on Windows"
3 of the tests for `ember/user-ember-get-and-set` rule are failing on windows, because of different path separator (the paths n the test are hardcoded with Unix separators).

[2017-11-14 18:06] #157 closed

[2017-11-15 08:45] #163 closed

[2017-11-15 13:59] #150 closed

[2017-11-15 14:06] #170 closed

[2017-11-15 16:25] jbandura commented on #87
Picking this up then - will probably make a PR around saturday/sunday

[2017-11-15 16:40] Turbo87 commented on #134
this was mostly resolved by https://github.com/ember-cli/eslint-plugin-ember/pull/146

[2017-11-15 16:40] #134 closed

[2017-11-16 12:46] PrzemoRevolve opened #179 "`init` in routes isn't treated as lifecycle hook"
In `utils/ember.js`  There are listed route default properties and route lifecycle hooks. `init` is listed as route property, but not as lifecycle hook, which may lead to unexpected eslint reportings.
Is that on purpose?

EDIT: ah, now I have found #150, so I guess it IS on purpose.

[2017-11-17 09:44] #179 closed

[2017-11-17 10:38] t-sauer opened #180 "Drop ESLint 3 support"
Currently this plugin supports eslint@3 which I think should be dropped in favor of 4.
One of the major advantages of ESLint 4 is an improved fixer API which allows to return multiple fixes. This would simplify the fixer for https://github.com/ember-cli/eslint-plugin-ember/pull/172 and would simplify writing fixers in general.

Since v5 is about to be released, I think this change should be includ

[2017-11-17 10:56] rwjblue commented on #180
Sounds good to me. Mind sending in a PR (targeting the `next` branch)?

[2017-11-20 15:08] mwpastore opened #182 "avoid-leaking-state-in-ember-objects: Easily add an ignored property?"
I'd like to add an additional ignored property to the avoid-leaking-state-in-ember-objects rule. It takes a list of ignored properties from the supplied options, but it's all-or-nothing: there's no easy way to add them. Can we modify this rule to merge in additional properties, or can we at least export the `DEFAULT_IGNORED_PROPERTIES` const from the module so I can append to it in .eslint.js?

[2017-11-20 15:52] anehx opened #183 "new-modules breaking since 5.0.0"
Hi,

Since version 5.0.0, the new-modules rule breaks my stuff:

[code]

I believe, it happens if I'm importing stuff which doesn't have a new import path, e.g.:

[code]

[2017-11-20 16:05] rwjblue commented on #182
@mwpastore - Ya, I think adding an `additionalIgnoredProperties` option seems reasonable to me...

[2017-11-20 19:36] jeanduplessis commented on #183
I'm having the same issue. Disabling the new-module-imports rule allows it works again: `'ember/new-module-imports': 'off'`

[2017-11-20 22:29] #183 closed

[2017-11-21 03:24] rwjblue commented on #180
Discussed a bit in #81, and I think that instead of dropping support for ESLint 3 we should:

* Ensure CI runs for _both_ eslint@3 and eslint@4
* Expose utility methods to allow disabling of `--fix` support (for future use) when running under eslint older than 4

[2017-11-21 03:26] rwjblue commented on #143
Closing for now, because I _think_ this was fixed by the migration to `avoid-leaking-state-in-ember-objects`.

Happy to reopen if I am mistaken...

[2017-11-21 03:26] #143 closed

[2017-11-22 16:07] Kerrick commented on #42
@michalsnik That's not entirely true -- Ember Decorators also supports [using get/set syntax on non-ES6 classes](https://github.com/ember-decorators/ember-decorators/tree/v0.3.0#real-world-getset-syntax), like this:

[code]

This will still fail `ember/avoid-leaking-state-in-components`, but won't be solved by #96's focus on native ES6 classes.

[2017-11-23 15:14] samdemaeyer opened #187 "no-global-jquery not properly working with the latest import rules."
If you have `'ember/local-modules': 2` in your `.eslintrc.js`, your are supposed to not use
[code]
any more, in stead you should do:
[code]
However, when you have the `ember/no-global-jquery` enabled (which is by default), the linter is making a mistake.

I had a quick look, and I tried it in the test suite, I added the following:
[code]
And the test failed .. unfortunately thats not expected beha

[2017-11-23 15:41] rwjblue commented on #187
I think this is what https://github.com/ember-cli/eslint-plugin-ember/pull/186 is aiming to fix, can you confirm?

[2017-11-23 16:27] samdemaeyer commented on #187
@rwjblue, yes, perfect!! Thats exactly it! 👍

[2017-11-23 20:10] jbandura opened #188 "New rule: `use-new-qunit-tests`"
## Proposal
(_The name could probably use some tweaking (man, naming is hard_ 😓 )

Goal of this rule is to enforce usage of the new-style qunit tests: http://rwjblue.com/2017/10/23/ember-qunit-simplication/

It should highlight places where we're using old style qunit tests, using `moduleForComponent` or `moduleFor`. This could come especially handy when converting to new test syntax in bigger tea

[2017-11-26 09:59] Alonski opened #189 "Error While Linting - new-module-imports"
Hey friends,
I just updated to "^5.0.1" from "^4.6.1"

When linting I now get this error (causes Ember Build to also fail):
[code]

Seems to fail here:
[code]
properties is undefined

It might be a problem checking the rule on this file:
[code]

When I set the rule to Off in eslintrc I get another error with require-super-in-init

[code]

[2017-11-27 21:06] Dhaulagiri opened #190 "Do not apply new-module-imports rule to an addon's app folder"
When updating addons to use the new modules syntax we have to avoid updating any files in the addon's `app/` directory since that is transpiled by the addon's consuming app which may not have an up-to-date version of ember-cli-babel.  With this addon installed though eslint will fail any files in the app directory that violate this rule.  I added a one file exception to the affected file in my add

[2017-11-27 22:11] rwjblue commented on #190
We should add an override for an addons `app/**/*.js` for this rule.

[2017-11-27 22:30] Dhaulagiri commented on #190
This may be wishful thinking but at this point it'd be nice if this rule enforced that the new modules syntax _is not_ used in this directory as I've been bitten by this once already.  That may be a better thing to transfer over to the codemods repo though since I think it is being overeager in this case (at least for now).

[2017-11-27 22:45] rwjblue commented on #190
I don’t think that we can do anything here for that. I was referring to the default setup for addons (which will include this plugin in their eslint config as of ember-cli@2.18) in my comment above.

I totally agree that the codemod should be better and do a more intelligent thing based on the type of project. This was exactly what I was referring to in: https://github.com/ember-cli/ember-modules-

[2017-11-30 20:56] bryanhickerson opened #192 "avoid-leaking-state-in-ember-objects flags computed.sort definition"
If you use the sort computed property, it gets flagged as leaking state. Example:
[code]
I can see why this was flagged, but it seems weird to flag this since the docs use this syntax: https://emberjs.com/api/ember/2.15/namespaces/Ember.computed/methods/sort?anchor=sort

[2017-12-06 23:21] kellyselden opened #193 "require-super-in-init fails if returning the super"
[code]

makes the rule fail. Removing the `return` makes it pass.

[2017-12-07 00:22] rwjblue commented on #193
awesome, the rule is not properly identifying / allowing `ReturnStatement`s

[2017-12-16 17:50] knownasilya opened #195 "New rule: `no-implicit-service-injection-argument`"
I'm proposing adding a new Best Practices rule that promotes usage of explicit injections.

So instead of:

[code]

The recommended way would be:

[code]

The reasoning behind this change, is that I've heard new Ember developers asking about what that means and where is the file that defines the given injection. It's a sort of "black magic" that allows for shortcuts that don't really help down the

[2017-12-16 18:09] kellyselden commented on #195
I would love to have this rule, but I don't know about adding to an "on by default" group to start.

[2017-12-20 17:36] danwenzel commented on #187
I just updated to the new version (5.0.2), and that fixed most instances of this issue.  However, it looks like it still fails if there is an `Ember` import after the jquery import (which ember-cli-codemod tends to do):

### Fails

[code]

### Passes

[code]

[2017-12-20 17:47] rwjblue commented on #187
@danwenzel - Should straight forward to fix (we need to track with separate variables for global ember import vs jquery import), wanna take a crack at it?

[2017-12-20 18:26] danwenzel commented on #187
Sure, I'll give it a shot

[2017-12-21 19:11] #187 closed

[2018-01-02 21:22] backspace commented on #192
yeah, this is confusing to me since it’s in the official documentation, and the way to address this seems pretty weird in some situations. For instance, in [this Mirage serialiser](https://github.com/backspace/prison-rideshare-ui/blob/2d9d24f2c61f9b70329f2741049781f5efa64f15/mirage/serializers/person.js#L4), is it really a danger?

[2018-01-02 21:26] xtagon commented on #192
As to whether it's really a danger, it probably depends on whether you mean "technically" or "in practice" -- if none of your code ever modifies the sorting array property, then leakage shouldn't be a concern. If your code does modify it, then you just have to be aware of the leaking effect.

[2018-01-03 08:23] hakubo opened #201 "willInsertElement is missing from ember/order-in-components"
I think it should be placed right after willRender hook.
or is there any reason for it to not be handled by this plugin?

if it make sense to add it, we can take a stab at it.

[2018-01-03 12:54] BillyRayPreachersSon opened #202 "avoid-leaking-state-in-ember-objects is showing for ember-cli-mirage Factory objects"
I've just upgraded `ember-cli` from `2.17.0` to `2.18.0`, and haver fixed most of the new linting errors (which are really informative, btw - thanks for that).

However, I'm seeing `ember/avoid-leaking-state-in-ember-objects` being flagged on an object that isn't an Ember object, and thus can't be fixed using the suggested workaround.

The class in question is an `ember-cli-mirage` `Factory`. Look

[2018-01-03 14:22] rwjblue commented on #202
Sorry you are having troubles here!  TBH, I don't think we can do much more to detect (statically) if a given import is going to be an Ember object or not other than what we are already doing. Basically, if something "duck types" like an Ember object, we consider it one...

I think the best solution here would be to add an additional entry to `overrides` in your `.eslintrc.js` to disable this rule

[2018-01-03 14:23] rwjblue commented on #202
Once we have figured out the right subset of overrides to use for `mirage/**` we should probably open a PR to add that info to the README / website / etc so others can discover it too...

[2018-01-03 14:26] rwjblue commented on #201
Yes, seems good to me also.

[2018-01-04 14:43] jcbvm opened #203 "avoid-leaking-state problem"
From the docs, the solution for defining object properties as list or object is to assign its value in the `init` method. The problem is however that when you do this for a component, the given property values in the template will be overridden by the values in the `init` method.

Is there any other solution for this case? I want to have a default value defined for properties which are not passed

[2018-01-04 14:55] rwjblue commented on #203
Can you give a more concrete example?

[2018-01-04 15:22] jcbvm commented on #203
Example below will illustrate the issue, this is a more simple case instead of component:

[code]

[2018-01-04 15:25] ondrejsevcik opened #204 "Checking for misspelled/non-existing attributes in component"
Hi, I have a scenario in my mind that happens to me time to time, but I'm not sure if it's possible to make a liner for this. Before writing any code, I would like to discuss it with you.

Let's say there is an component `user-input` with property `value` and `maxLength`.
[code]
I can use this component easily like this
[code]
so far so good, but what if I misspell property `maxLength`?
[code]
or

[2018-01-04 15:44] rwjblue commented on #203
Right, you have to use a conditional.  One example would be:

[code]

Another way (if falsey values are allowed):

[code]

[2018-01-04 15:52] jcbvm commented on #203
That will do the job indeed.
Should this be mentioned in the docs?

[2018-01-04 16:02] #203 closed

[2018-01-04 16:17] rwjblue commented on #203
Yep, sounds good to have the documentation cover this scenario, would love a PR...

[2018-01-04 21:11] alexlafroscia commented on #182
Maybe instead of clobbering the list of defaults, the provided list of additive? I can't imagine the desired behavior ever being to remove any of the default ignored properties, so it seems like merging the two would make more sense.

[2018-01-04 21:13] mwpastore commented on #182
Isn't that what I said?

[2018-01-04 21:15] alexlafroscia commented on #182
Just giving my support for merging the lists, rather than exposing the defaults and making the configure-er merge them manually.

[2018-01-07 14:07] st-h commented on #192
same seems to be the case for configuring serializers using the attrs property as explained here https://guides.emberjs.com/v2.18.0/models/customizing-serializers/ I have also seen warnings regarding queryParams and other binding related stuff.
I am afraid this check will need quite a number of exceptions or we need to deal with using ember fundamentally different than what is described in the doc

[2018-01-07 16:16] rwjblue commented on #192
We should update the guides and documentation as we find it, to ensure that it does **not** get flagged by the rule. I submitted https://github.com/emberjs/ember.js/pull/16084 to address the link in the original issue description.

[2018-01-08 00:20] erichonkanen opened #206 "use-ember-get-and-set not preferred method"
Hello,

I just had some discussion on slack and it was said that `get(thing, 'prop')` is not the preferred way to get properties or rather, it's not `good vs bad`, and with the coming ES5 getters, it will become `thing.prop` (https://github.com/emberjs/rfcs/blob/master/text/0281-es5-getters.md)

What's the reasoning behind this rule? Just curious before I update my entire codebase

Thanks!

https:

[2018-01-08 00:40] #206 closed

[2018-01-09 10:53] BillyRayPreachersSon commented on #202
Hi @rwjblue,

Thank for the advice on disabling the rule for Mirage files. Sadly, it didn't work.

I added it to both `<project-root>/.eslintrc.js` and `<project-root>/tests/.eslintrc.js`, but I get exactly the same error:

[code]

I tried changing the excluded path from `['mirage/**']` to `['mirage/factories/*.js']`, but get the same problem.

After that, I tried adding `"ember/avoid-leaking-stat

[2018-01-09 11:18] BillyRayPreachersSon commented on #202
Aah - I seem to have found a workaround.

I can define my object property data outside of the class, and reference it inside. As the linting is probably only looking for curly braces or square brackets inside the class, this will pass as it finds neither of those.

So, changing this:
[code]

to this:
[code]

fixes the problem for me with no disabling of linting rules required.

[2018-01-09 13:56] rwjblue commented on #202
Hmmm, my suggestion should generally work... 🤔

Can you push up a demo app that I can help debug?

[2018-01-09 14:33] BillyRayPreachersSon commented on #202
I've moved on to debugging a very different problem at the moment, and as I have a workaround for the linting issue (in my previous comment), it's unlikely that I'll be given any time to knock up a demo app.

If I do, I'll let you know.

Thanks

[2018-01-09 20:50] EvanHammond commented on #192
This is also the case with the docs for [Components](https://guides.emberjs.com/v2.18.0/components/customizing-a-components-element/) (see: `classNames`, `classNameBindings`, and `attributeBindings`).

[2018-01-09 20:50] nathanhammond opened #209 "Split up use-ember-get-and-set"
Split out the `use-ember-get-and-set` rules into multiple rules to allow individual patterns to be flagged. For example, this configuration is currently impossible:

[code]

[2018-01-09 20:52] xtagon commented on #192
There are a lot of different ways to solve it with different syntax. Is there merit to one over the other? For example, is `Object.freeze` recommended over using constants or init?

[2018-01-09 20:52] rwjblue commented on #192
Yes, however `classNames`, `classNameBindings`, and `attributeBindings` are very common and as such they are whitelisted in this rule ([see here](https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/rules/avoid-leaking-state-in-ember-objects.js#L6-L16)).

[2018-01-09 21:21] rwjblue commented on #209
👍 - Seems good to me.

[2018-01-10 12:47] efx opened #210 "jquery-ember-run wording could be improved"
I find some of the wording unclear in this rule: https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/jquery-ember-run.md#rule-name-jquery-ember-run

"out of the Ember Run Loop"
* shouldn't this read "outside of Ember's run loop"?

For the second line, I don't understand what "have a control on all operations in Ember" means. Are we talking about rendering operations, asynchrono

[2018-01-10 13:31] efx opened #211 "no-global-jquery flags a pattern incorrectly"
no-global-jquery errors based on the following snippet:
[code]
This is not a global instance, so the rule should not error here.
I see 2 quick workarounds:
1. rename the function argument to be something else
2. add `//eslint-disable-next-line ember/no-global-jquery` before the line

[2018-01-10 14:12] rwjblue commented on #211
I'd prefer:

3. fix the rule 😸

[2018-01-10 14:13] rwjblue commented on #211
Good catch, thank you for reporting!

[2018-01-10 14:19] efx commented on #211
anytime!

[2018-01-10 18:08] nathancharles opened #212 "Test files are picked up as ember core modules"
Currently tests are being picked up by the `isEmberCoreModule` check, possibly triggering rules, depending on the code in the test.

Given some test for a controller like this, it will be picked up as an ember controller because of the path and trigger the `alias-model-in-controller` rule.
[code]

I wll submit a PR, but it seems excluding files with `tests' in the path from the `isEmberCoreModule`

[2018-01-14 13:34] hakilebara opened #214 "Cannot override 'avoid-leaking-state-in-ember-objects' plugin on specific ember-cli-mirage folder"
This ember-cli-mirage code documented [here](http://www.ember-cli-mirage.com/docs/v0.3.x/serializers/#include) will raise an eslint `ember/avoid-leaking-state-in-ember-objects` flag:

[code]

I tried adding an additional entry to `overrides` in .eslintrc.js to add `include` as an ignored property of  `ember/avoid-leaking-state-in-ember-objects`:

[code]
This doesn't work, the linter flag is still

[2018-01-14 13:36] hakilebara commented on #214
referencing #202

[2018-01-15 19:11] sohara opened #215 "Prefer or require use of `let` over `const`"
Like most Ember projects we prefer to use `let` over `const` for variable declarations, except for those declared at the module or file level. This approach is [summarized here](https://madhatted.com/2016/1/25/let-it-be) and seems to be adhered to by most open source Ember projects, including the Ember source code itself.

In order to make this convention easy to adhere to I think it would be grea

[2018-01-15 20:33] kellyselden commented on #215
@sohara I've been using https://github.com/cowboyd/eslint-plugin-prefer-let for most my projects. Not sure if you are aware of it.

[2018-01-16 12:11] sohara commented on #215
Thanks @kellyselden! That plugin looks to be exactly what we need. Closing this issue.

[2018-01-16 12:11] #215 closed

[2018-01-16 18:30] Dhaulagiri commented on #202
I think it's because the mirage folder is under `tests/dummy/`. I used this and it worked:

[code]

[2018-01-16 18:40] rwjblue commented on #202
Ya, in an addon that is definitely correct.  I didn't catch that this issue was RE: an addon.

[2018-01-17 06:37] lumenlunae opened #216 "'avoid-leaking-state-in-ember-objects' plugin -- controllers"
Having trouble seeing how to follow the plugin guides and also the Emberjs.com guides for 2.18 -- https://guides.emberjs.com/v2.18.0/routing/query-params/

Should I set all query params as computed functions?

Or should the plugin skip Controller? Controllers are only used as singleton instances aren't they?

Thanks!

[2018-01-17 13:53] rwjblue commented on #216
Work around for now would be to do `queryParams: Object.freeze(['category'])` (taking the first example from the guides), but I do think that we should add `queryParams` to the default whitelist...

[2018-01-19 14:28] hakilebara opened #217 ""New Module Imports" rule does not flag Ember.Test destructuring"
This example does not trigger an eslint error:
[code]
I believe the new-module-imports rule should recommend me to use  `import { registerAsyncHelper } from '@ember/test';` instead

[2018-01-20 14:13] rwjblue commented on #217
Agreed! Thanks for reporting!

[2018-01-22 15:31] Frozenfire92 opened #218 "use-brace-expansion and spaces"
In the [docs/rules](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/use-brace-expansion.md) it mentions that spaces are not allowed. A developer would also encounter an Ember error upon the code being used in the app (as well as failing tests). However I would argue that this should be caught at the eslint level so it could be fixed before the developer even leaves their ed

[2018-01-22 15:50] rwjblue commented on #218
Seems fine either way to me, might be easier as a separate focused rule (ala `no-spaces-inside-brace-expansion`)...

[2018-01-22 21:57] GCheung55 opened #219 "Mixins should be included in avoid-leaking-state rule"
Doesn't look like Mixins are checked to see if they pass the avoid-leaking-state rule. Should they be checked?

[2018-01-22 22:00] rwjblue commented on #219
Yes, the rule current checks anything passed to `.extend( /* this here */)`, we can check mixins but we have to be more careful about exactly how we match mixin creation.  I believe we can only match this exactly: `Mixin.create(/* this here */)` or `Ember.Mixin.create(/* this here */)` (or an import from the new modules path.

Would love a PR for this...

[2018-01-23 00:56] josemarluedke opened #221 "It crashes if a dependent key is a regular expression"
Assuming one has something like this.

[code]

We get the following error:

[code]

Using v5.0.3

[2018-01-25 05:12] BobrImperator commented on #202
[QUESTION]
Is it intended for
[code]
and especially this
[code]
to skip all ``index.js`` files without paying attention to where they are nested?
I mean, that when ``sourceType`` has value ``'script'``, ``linter`` thinks that my
``users/index.js`` is not a module, but script, therefore it doesn't allow for ``import`` ``export`` keywords

``Parsing error: 'import' 'export' may appear only with 'sou

[2018-01-29 08:24] IgorKvasn opened #222 "no-global-jquery rule clashes new-module-imports rule"
Hi,
I upgraded from 5.0.0 to 5.0.3 and I am getting lint errors:

` Do not use global `$` or `jQuery` (ember/no-global-jquery)`

My code looks like this:

[code]

and when I change to code to this:
[code]

I am getting lint error:  `Use import $ from 'jquery'; instead of using Ember.$ (ember/new-module-imports)`

Not sure how to fix this error, because it seems that no matter what I do, there is a

[2018-01-31 22:21] karellm opened #223 "no-on-calls-in-components recommended solution"
As a [ember-keyboard](https://github.com/patience-tema-baron/ember-keyboard), when I started a new app, the following triggered the `no-on-calls-in-components`:

[code]

There is a [ticket](https://github.com/patience-tema-baron/ember-keyboard/issues/79) there but I was wondering what was your recommandation about this issue. Should the linter be more specific and only be triggered when there is a

[2018-02-05 21:23] Exelord opened #224 "avoid-leaking-state missing case example"
https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/avoid-leaking-state-in-ember-objects.md

Hey,
I see a problem with `good` example which doesn't replace the `bad` example functionality in 100%. If you would set properties in `init` hook you will lose a possibility to override it by passing it during creation.

A full example of the problem:

[code]

So, we should add a new e

[2018-02-09 02:11] apellerano-pw opened #227 "no-capital-letters-in-routes crashes when type is MemberExpression"
We have some route names coming from a constants hash, as in:

[code]

This causes the following error
[code]

[2018-02-11 15:20] Turbo87 opened #228 "Make `require-super-in-init` more generic"
As originally suggested in #82 IMHO it does make sense to require calling `this._super()` in all life-cycle hooks. If you don't call it that should be a deliberate decision and can be expressed by disabling the rule for that specific hook using an ESLint comment.

[2018-02-11 16:25] rwjblue commented on #228
Completely agree. This was also recently brought up in https://github.com/emberjs/rfcs/pull/298.  Specifically, as a path to enabling deprecating the `Ember.on` usage mentioned there we need to be able to ensure that folks properly call `_super`...

[2018-02-16 13:20] GCorbel commented on #106
Sorry to comment this old issue but I have the same behavior.

I have this `.eslintrc.js` :

[code]

I have this in my package.json :

    "babel-eslint": "^8.2.1",
    "ember-cli-eslint": "^4.2.3",
    "eslint": "^3.19.0",
    "eslint-plugin-ember": "^5.0.3"

It works for other rules.

[2018-02-16 17:51] GCorbel commented on #106
It's correct. I installed eslint globally and I updated eslint-plugin-ember locally. I just did `yarn global add eslint-plugin-ember` and it works.

[2018-02-22 10:19] Alonski commented on #189
It seems the issue was with this:
[code]
Changing this fixed the issue:
[code]

I ended up debugging the Node instance running ESLint app and figured this out.

Thanks

[2018-02-28 19:59] mnoble01 commented on #182
The list is additive for [avoid-leaking-state-in-components](https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/rules/avoid-leaking-state-in-components.js#L40-L48). Any reason this one shouldn't be the same?

[2018-03-01 11:10] Sinled opened #234 "`require-super-in-init` rule causes build failure with "Cannot read property 'name' of undefined""
Strange problem with `require-super-in-init`

[code]

here is small repository with reproduction [link](https://github.com/Sinled/require-super-in-init-bug/blob/master/app/utils/query-params-filter-mixin-factory.js)

build fails when i use object spread,
i can fix build with `object.assign` but it seems that the problem is not in my code?

[2018-03-09 20:38] ajcolter commented on #222
+1

[2018-03-11 04:20] #161 closed

[2018-03-11 21:17] amk221 opened #235 "Incorrectly identifies components"
I'm not aware of how `eslint-plugin-ember` works internally, but I think it needs to be more intelligent in terms of how it determines _what_ it is linting - with regards to the `order-by-` rules.

For example,
I have a route here:
`lib/styleguide/app/routes/styleguide/common/components/tag-editor.js`

But, this addon determines it as Component, as you can see in the screenshot.

<img width="908"

[2018-03-12 00:54] bryanhickerson opened #236 "Port no-anonymous-once from eslint-plugin-ember-best-practices"
Detects passing an anonymous function to scheduleOnce, which does not work: https://emberjs.com/api/ember/3.0/functions/@ember%2Frunloop/scheduleOnce

Existing implementation here:
https://github.com/ember-best-practices/eslint-plugin-ember-best-practices/blob/master/lib/rules/no-anonymous-once.js

I am considering tackling this issue at the ember contributor workshop at emberconf assuming there a

[2018-03-12 09:49] vmalloc opened #237 "eslint-plugin-ember should allow "needs" on routes and controllers"
For testing ember apps (in unit-test mode) controllers need to be set with `needs` class-level properties to load needed services and dependency injections. However the eslint plugin flags these as "leaking state" (`ember/avoid-leaking-state-in-ember-objects`).

I'm not aware of any way to work around this, and also trying to blacklist those warnings doesn't seem to work - I tried adding to my `.e

[2018-03-12 13:59] pablogravielseo opened #238 "Ordering imported modules"
Guys, as I was working on my current job, I faced so many times about the "ordering imported modules" issue in "routes", "controllers" and "components" files. In scenario like this route:

[code]

In some files I ordered in some ways and in other files I ordered in another ways, I have switched many times in same files too, because I felt a lack of ordering pattern like "eslint rules" have for "mo

[2018-03-13 23:05] bryanhickerson commented on #102
I'm wondering if we can reconsider this issue. I'm hitting a node 4 specific failure in https://github.com/ember-cli/eslint-plugin-ember/pull/239. Since the ember best practices plugin doesn't support node 4, it seems like it could be a barrier to migrating the ember best practices rules to `eslint-plugin-ember`.

[2018-03-13 23:19] kellyselden commented on #102
As soon as April 30th hits, kill it with fire.

[2018-03-14 21:10] piotrpalek commented on #195
I would personally be against this rule, especially as a default. In my experience people tend to name the same services differently in every component / controller / etc which makes searching for those services tedious.
The opposite way (recommending to use `users: inject.controller()`) would make the code more consistent and in result easier to parse.
It's definitely a tradeoff, but in the spiri

[2018-03-15 00:14] knownasilya commented on #195
Sure it requires consistency in a way, but its hard to follow in the template or elsewhere that you are working with a service. I think this probably won't be a default rule since most people do it the other way.

The reason I've submitted this is to help with teams that prefer the more explicit method and aren't used to this kind of "magic".

[2018-03-15 00:15] knownasilya commented on #195
Give it a test here https://github.com/ember-cli/eslint-plugin-ember/pull/196

[2018-03-17 16:34] thebluejay opened #240 "Simple documentation typo"
The documentation for the no-jquery rule  ([`docs/rules/no-jquery.md`](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-jquery.md)) has a confusing typo, where the second example of correct code for this rule, is actually incorrect.

Currently the example is:

[code]

When it should be lacking the jQuery import like so:

[code]

[2018-03-17 17:14] twokul commented on #240
@thebluejay do you mind submitting a quick PR to address the issue?

[2018-03-17 23:57] #240 closed

[2018-03-19 18:11] travis-jm commented on #182
@clcuevas  Is there a reason the most recent PR for this was closed instead of merged? Just curious because I could use this exact functionality.

[2018-03-19 18:21] clcuevas commented on #182
@travis-jm My bad. I was doing a bit of cleaning the other day and I must have deleted my branch that had this PR by mistake. I've since restored it and have re-opened the PR!

[2018-03-19 18:49] Gaurav0 opened #243 "ember/use-ember-get-and-set false positives with mirage"
Unfortunately, ember-cli-mirage has a `server.get` method that gets flagged by this, and I've got `server.get` overrides in many of my tests. I hate to have to eslint-disable every one. Can we do this a little more intelligently?

[2018-03-21 10:26] amk221 opened #244 "Prefer qunit-dom rule"
Proposing a new rule that prompts developers to use [qunit-dom](https://github.com/simplabs/qunit-dom) when possible.

[2018-03-21 21:55] #227 closed

[2018-03-21 21:56] apellerano-pw commented on #227
Thank you!

[2018-03-22 06:27] buschtoens commented on #223
From the rules docs:

The way I read it, the intention is not to outright ban `on()` in components, but only ban it for component lifecycle hooks (`didInsertElement`, ...), because the order of execution is not really deterministic for `on()`.

AFAIK the [`@ember/object/evented` mixin](https://www.emberjs.com/api/ember/release/classes/Evented) is here to stay and has valid use cases (ember-keyboar

[2018-03-22 14:19] karellm commented on #223
@buschtoens Thanks for answering. I currently have limited bandwidth to contribute to a new project but will keep this open in the event someone feel like tackling it.

[2018-03-26 20:18] caseywatts opened #247 "New Linter Rule - set() must return a value"
having a linter rule for this would help prevent some bugs
(at least until the behavior changes to be what people expect)
https://github.com/emberjs/rfcs/pull/79

Bad:
[code]

Good
[code]

`set()` must have a `return`.

(I mistakenly created this over [here](https://github.com/ember-cli/ember-cli-eslint/issues/232) first)

[2018-03-26 20:43] Turbo87 commented on #247
@caseywatts my naive idea would be this:

In the AST look for a `CallExpression` node with an `Identifier` of `computed. If the last `argument` is a `ObjectExpression` look for a `Property` with an `Identifier` of `set` and check if the `value` is a `FunctionExpression`. Now iterate over the `body` contents and check for any `ReturnStatement` nodes and if you can't find any you can report a lint f

[2018-03-26 23:59] clcuevas commented on #247
@caseywatts Pretty much what @Turbo87 summarized. Wish I knew of `astexplorer` in my previous PRs. It would have helped a lot!

Good luck!

[2018-03-28 09:35] Paskalouis opened #248 "routes-segments-snake-case while using _"
Hi,

I want to report / ask that I am using _ on my route for dynamic values :
Here is the code
`
this.route('edit', { path: 'edit/:_id' });
`
Is snake cased only limited to something_something ?
Because I want to pass 'simple' named param.
For example I am passing _id here, the lint still show routes-segments-snake-case.

Please correct me if this is not an issue.

Thank you !

[2018-03-30 21:12] jbandura commented on #217
I've investigated the issue and the main problem seems to be that we don't check for cases like:
[code]
or
[code]
If the above snippet would be changed to:
[code]
it would trigger the warning. I can try and have a shot at implementing warnings for such cases :)

[2018-04-08 13:36] Serabe opened #250 "Check this issue"
I'm going back home today. I'll try to check this at some point in the near future

https://github.com/emberjs/rfcs/issues/273#issuecomment-379546020

@pusle wrote:

After upgrading from Ember Cli 2.12 to 3.0 I get a lot of errors telling me to

when running ember serve after the upgrade. I have gone trough a lot of these files and updated as told. Should the error notifications say to use import

[2018-04-17 20:18] efx opened #251 "an engine's default configuration is flagged as an error"
Out of the box, the avoid leaking state rules show an error for an engine's configuration:
[code]
This is similar to https://github.com/ember-cli/eslint-plugin-ember/issues/237.
I think this is a problem for onboarding developers with engines.

[2018-04-19 22:53] #201 closed

[2018-04-25 15:46] clcuevas commented on #250
@Serabe I know a fix for the issue that was filed. However, upon investigating this and thinking about the rule a bit more, I came across other scenarios that wouldn't be reported or would be reported incorrectly. Here's one scenario that I've seen in older Ember applications:

[code]

It seems that what should happen in the rule is that we should be looking for `MemberExpressions` that have a nex

[2018-05-08 22:24] twokul opened #252 "Ban `needs` on controllers/routes"
Discourage the following pattern:

[code]

Happy to submit a PR

[2018-05-08 22:25] rwjblue commented on #252
Sounds good to me...

[2018-05-25 14:36] dennismende commented on #216
I think this can be closed because I saw that queryParams are already in DEFAULT_IGNORED_PROPERTIES or do I miss something?

[2018-06-01 09:10] Baukereg opened #259 "Side effects in conditions are not detected"
The next code throws a no-side-effects error:

[code]

Yet this code doesn't:

[code]

[2018-06-13 18:02] nathanhammond opened #263 "New Rule: no-computed-arrows"
[code]

This is not typically a problem in the first pass (if the code doesn't work the user will not commit it), but it can create a surprising refactoring hazard that is not easy to identify in code review.

[2018-06-13 18:20] kellyselden commented on #263
If someone does implement this, please check the source module of the computed. Arrow functions are perfectly fine using computed from ember-macro-helpers or ember-awesome-macros.

[2018-06-16 00:02] nathanhammond opened #264 "New Rule: no .reopen inside instance-initializers `initialize` function."
This is a *common* source of FastBoot memory leaks.

Bad Example:
https://github.com/stonecircle/ember-body-class/blob/1c7f123/addon/instance-initializers/body-class.js#L23

[2018-06-25 13:24] scottkidder opened #268 "Move to scoped package?"
ESLint 5 will properly load scoped packages so
[code]
could resolve to `@ember/eslint-plugin`

[2018-06-27 14:56] Gaurav0 opened #269 "Make 'no-observers' rule recommended?"
I'm curious why the `no-observers` rule is not included in `ember/recommended`. I find it is very useful and have enabled it in all my apps.

[2018-06-27 14:59] Gaurav0 opened #270 "Rule for no-mixins?"
It is possible / likely that mixins will not ever be compatible with ES classes. Would a PR for a `no-mixins` rule be considered?

[2018-06-27 15:01] rwjblue commented on #269
I agree, it probably should be 😄.

@Turbo87 - Any objections?

[2018-06-27 15:04] rwjblue commented on #270
tldr; yes

See https://github.com/ember-cli/eslint-plugin-ember/pull/256 for a first step (adds a rule that would flag `Mixin.create`), but there is also some conversation about a second rule that I think we need (to prevent passing multiple arguments to `.extend()`).

[2018-06-28 08:05] Turbo87 commented on #269
do you know if there is a guide somewhere on how to refactor away from observers that we could link in the docs for that rule? in general I'm okay with enabling the rule, although I'll likely have to disable it for quite a few of our older projects.

[2018-06-28 08:07] Turbo87 commented on #244
@amk221 I think it would make sense to put that in a dedicated `eslint-plugin-qunit-dom` project since qunit-dom can also be used outside of Ember projects, but in general I like the idea. it could probably use similar rules to the codemod (https://github.com/simplabs/qunit-dom-codemod).

[2018-06-28 08:14] #244 closed

[2018-06-28 10:05] Gaurav0 commented on #269
I still remember Stefan's The Observer Tip Jar presentation at Wicked Good Ember. It is still one of the best resources on why not to use observers.

As far as how to refactor though, this one's dated but still can be a starting point: https://dockyard.com/blog/2015/11/16/best-practices-functional-programming-and-the-observer-effect

[2018-06-28 10:16] Turbo87 commented on #269
nice, totally forgot about that talk. could you add them to the docs?

[2018-06-28 12:09] rwjblue commented on #269
Ya, same here. FWIW, this is kinda why I think we _should_ enable the rule by default. We should be providing good insight to folks writing apps on what is good / bad (so we can _eventually_ have nice things 😜).

[2018-07-09 14:21] #223 closed

[2018-07-09 18:16] #259 closed

[2018-07-16 19:06] josemarluedke opened #271 "Deprecation of experimentalObjectRestSpread"
I'm getting this deprecation warning when using the latest eslint `5.1.0` in my project in combination with this `eslint-plugin-ember`.

```(node:4020) [ESLINT_LEGACY_OBJECT_REST_SPREAD] DeprecationWarning: The 'parserOptions.ecmaFeatures.experimentalObjectRestSpread' option is deprecated. Use 'parserOptions.ecmaVersion' instead. (found in "node_modules/eslint-plugin-ember/lib/config/base.js")```

[2018-07-26 08:18] nickschot commented on #221
I'm also seeing this.

[2018-07-26 10:07] rwjblue commented on #221
Would you mind putting together a failing test PR?

[2018-07-26 14:53] amk221 commented on #235
Anyone able to clarify this is a bug?

[2018-07-26 15:38] rwjblue commented on #235
AFAICT right now we only use the filename to determine the type, but in this case we should have been able to see that it extends from the `@ember/router/route` default export (and is therefore not a component).  Definitely seems like something we can/should fix...

[2018-07-26 15:39] rwjblue commented on #271
Related to https://github.com/ember-cli/eslint-plugin-ember/pull/267

[2018-07-27 12:11] amit-srivastava-007 opened #273 "DeprecationWarning about 'parserOptions.ecmaFeatures.experimentalObjectRestSpread' eslint-plugin-ember v5.2.0"
I am continuously getting error while running eslint
[code]

[code]

any suggestion?

[2018-07-27 13:16] rwjblue commented on #273
Duplicate of https://github.com/ember-cli/eslint-plugin-ember/issues/271

[2018-07-27 13:16] #273 closed

[2018-08-04 11:11] cbou opened #275 "Extends `require-super-in-init` to all lifecycle hooks"
I had an issue on a project because I forgot to add `this._super(...arguments);` in the willDestroyElement hook.

I think it would make sense to extend the rule `require-super-in-init` to all lifecycle hooks.

[2018-08-07 14:27] amk221 commented on #58
Related: https://github.com/ember-cli/eslint-plugin-ember/issues/235

[2018-08-07 14:30] amk221 commented on #58
Also, I'm not sure how, but as you can see from this screenshot, when building our app on Jenkins the plugin seems to think this component is a route.

![screen shot 2018-08-07 at 15 29 30](https://user-images.githubusercontent.com/382061/43782228-be9e8c18-9a56-11e8-98f4-934da6ac0f52.png)

[2018-08-07 15:03] amk221 commented on #58
Regarding my above comment, we discovered this was happening because the _branch name_ had the word 'route' in it.

[2018-08-16 00:26] andybluntish commented on #224
I had the same thought recently while refactoring some Components—how does this handle overrides?

Initially I was checking for passed in attributes during init, but using `computed` is an attractive approach, since it avoids needing to override `init` at all.

[code]

[2018-08-22 23:42] tmquinn commented on #188
I am going to work on this next week

[2018-08-30 14:40] Dhaulagiri commented on #147
@robert-j-webb did you ever publish this rule anywhere? We are having a similar need to keep this from getting committed as well.

[2018-08-30 18:19] robert-j-webb commented on #147
@Dhaulagiri I remember writing it but I don't think I finished it. It's actually something I keep coming back to and if I ever get more time, I'll definitely write a PR for it. Thanks for reminding me about this.

[2018-08-30 18:33] kellyselden commented on #147
Closing as not suitable for this repo as mentioned above, but look forward to a mirage linting project!

[2018-08-30 18:33] #147 closed

[2018-08-30 19:12] rwjblue commented on #188
Awesome!

[2018-08-30 21:44] tomwayson opened #279 "no-jquery does not catch $.extend() in a service"
I just [configured eslint](https://github.com/Esri/ember-arcgis-portal-services/pull/135/files#diff-e4403a877d80de653400d88d85e4801a) to use `"ember/no-jquery": 2,` and it's not picking up on [a service in my addon](https://github.com/Esri/ember-arcgis-portal-services/pull/135/files#diff-5c43a7a0cb851787474c7cc039be1abf) that uses `import $ from 'jquery';` and then `let ops = $.extend({}, defaults

[2018-09-07 14:56] Turbo87 opened #282 "New Rule: no-computed-without-dependent-keys"
The proposed rule should warn about computed properties without any dependent keys:
[code]

instead the property should be initialized in the constructor:
[code]

[2018-09-09 05:16] Turbo87 commented on #282
Yeah, I guess in those situations it can make sense. That point should probably be added to the rule documentation then.

[2018-09-12 11:52] chrisgame opened #283 "`ember/no-global-jquery` detects the new module import for jQuery as invalid"
`import $ from "jquery"` is currently the correct way to import jQuery as described [here](https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md), but `ember/no-global-jquery` which is included by default throws an error stating `Do not use global '$' or 'jQuery'` when linting.

`ember/new-module-imports` which is also included by default will detect usages `Ember.$` and s

[2018-09-12 15:55] chrisgame commented on #283
Looks like this has already been done [here](https://github.com/ember-cli/eslint-plugin-ember/commit/89a89bdeb37746fa3d8e92018f8a31d59fb087d4#diff-78c160ff7ede596a926eb7a31bb96301) and i'm just on an old version.

I'll close this once I have confirmed.

[2018-09-12 17:01] btecu commented on #221
I'm also seeing this in the `5.2.0`.

[2018-09-13 19:43] schickm commented on #182
For any future folks who are looking to do this, it looks like the existing attributes have been added in an importable fashion, so you just need to require them in your .eslintrc.js and then concat them onto your additions:

[code]

[2018-09-17 14:43] chrisgame commented on #283
Confirm, my bad!

[2018-09-17 14:43] #283 closed

[2018-09-19 18:47] Kerrick commented on #282
We've found `foo: computed(() => ({ some: 'stuff', goes: 'here' }),` to be a helpful pattern to avoid ember/avoid-leaking-state-in-ember-objects when we want to have a hash accessible by both the JS and the template. Would the preferred pattern _really_ be to set that in `init`? It would be harder to find while scanning the component's JS looking for a property you use in the template.

[2018-09-19 18:56] Kerrick opened #284 ""Cannot read property 'name' of undefined" error when using object spread"
Clone https://github.com/Kerrick/eslint-plugin-ember-bug and run `ember test` to see the following error:

[code]

[Relevant app code](https://github.com/Kerrick/eslint-plugin-ember-bug/blob/37a08a5c4c2bb818b497f59e199d931aa37acb99/app/transforms/semicolon-delimited-strings.js#L4-L6):
[code]

<summary>
Full stack trace
<details>

[code]

</details>
</summary>

Relevant eslint-plugin-ember code:

h

[2018-09-20 16:26] ctjhoa opened #285 "order-in-components: bad fixing"
Hi,

I've found some code where running `eslint --fix` using `order-in-components` rule produce bad code.

Input
[code]

output
[code]

here is my configuration rule:
[code]

[2018-09-21 06:03] roodie-ree opened #286 "Error on unwrapBraceExpressions"
I get errors on some files where apparently some elements in the `dependentKeys `array passed into `unwrapBraceExpressions `are not strings and thus have no match method. I did log the value and it was this regular expression object: `/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\S{8,}/`.

The check at the start of the loop does not catch this, since
` /{.+}/g.test(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\S{8,}/) ===

[2018-09-22 16:51] Turbo87 commented on #282
@Kerrick yes, putting it in `init` is usually better in these cases

[2018-09-24 07:27] Turbo87 commented on #286
can you provide a failing test case?

[2018-09-24 07:28] Turbo87 commented on #284
@Kerrick thanks for the reproduction. are you able to derive a failing test case for that?

[2018-09-24 07:34] Turbo87 commented on #237
since the new testing APIs don't need `needs` anymore I don't think we will implement/fix this

[2018-09-24 07:34] #237 closed

[2018-09-24 15:35] rwjblue commented on #180
Completed in https://github.com/ember-cli/eslint-plugin-ember/pull/267

[2018-09-24 15:35] #180 closed

[2018-09-25 09:04] roodie-ree commented on #286
Sure, test rule 'use-brace-expansion' with `{ code: '{ test: computed.match("email", /^.+@.+/)' },`

[2018-09-26 17:51] kellyselden opened #295 "Thought: lint node code."
Just a random thought. Numerous times I've come across code doing `this._super.included(app)` instead of `this._super.included.apply(this, arguments)`.

Is it possible to lint build code from here?

[2018-09-26 17:55] rwjblue commented on #295
Yep, definitely should be.

[2018-10-10 16:03] ntgussoni opened #300 "avoid-leaking-state-in-ember-objects should warn about myProp: A()"
We recently found that the rule does not warn you if you do:

`myProp: A()`

And yet the state is leaked. I bet the same happens with `EmberObject()`.

Shouldn't this rule also apply in these cases?

[2018-10-12 16:28] dwickern opened #301 "Release?"
Please make a new release. There are several new rules since the current release v5.2.0.

[2018-10-17 14:41] lvegerano opened #304 "Template literals not recognized by order-in-* rules."
When enforcing component order I have a set of defaults
[code]

having something like that tells me that the property complains with this error
![screen shot 2018-10-17 at 9 40 33 am](https://user-images.githubusercontent.com/2464593/47094407-c444ce80-d1f0-11e8-889f-e4f6542c5e0b.png)

[2018-10-20 20:57] initram commented on #222
Is this still an issue using the latest version? #283 seems to believe it has been fixed in a later version.

I tried to create a failing test, but was unable to.

[2018-10-20 21:00] initram commented on #162
Should this not be closed? it seems that the fix have been merged long ago.

[2018-10-20 23:43] #162 closed

[2018-10-20 23:43] rwjblue commented on #222
Thank you @initram

[2018-10-20 23:43] #222 closed

[2018-10-21 09:32] initram commented on #193
I think this can be closed as well, the changes that supposedly fixes this have been merged long ago.

[2018-10-21 20:51] #193 closed

[2018-10-21 20:51] rwjblue commented on #193
Thanks!

[2018-10-24 16:33] Gaurav0 opened #306 "Deprecation Warning with ESLint 5: Experimental Object Rest Spread is deprecated"
When used with ESLint 5, I get a deprecation warning:

[code]

[2018-10-26 13:37] scottkidder commented on #306
This is fixed in #267 and is being queued up for a major version bump.

[2018-10-31 04:59] mhluska opened #307 "New Rule: no-missing-dependent-keys"
It would be useful if there was a way to lint the following:

bad:

[code]

good:

[code]

I often run into this situation where a dependent key is not explicitly listed and the prop doesn't update correctly.

[2018-11-08 13:39] Alonski opened #308 "New Rule: no-settimeout"
ESLint Plugin Ember Standard has this:
https://github.com/ciena-blueplanet/eslint-plugin-ember-standard/blob/master/documentation/rules/no-settimeout.md

`setTimeout()` is not run loop aware. We should suggest using Ember Run and/or Ember Concurrency instead.

Taken from that rule:

This rule ensures no calls to `setTimeout()` are made.

**ESLint Configuration**

[code]

**Valid**

[code]

[code]

[2018-11-08 20:01] rwjblue commented on #269
Fixed by https://github.com/ember-cli/eslint-plugin-ember/pull/309.

[2018-11-08 20:01] #269 closed

[2018-11-08 20:02] rwjblue commented on #286
Closed by https://github.com/ember-cli/eslint-plugin-ember/pull/299

[2018-11-08 20:02] #286 closed

[2018-11-08 20:14] rwjblue commented on #301
eslint-plugin-ember 5.3.0 published 🎉

[2018-11-08 20:14] #301 closed

[2018-11-08 20:33] rwjblue commented on #307
Seems reasonable to me...

[2018-11-08 20:37] rwjblue commented on #306
The `next` branch is being curated for v6.0.0 release (hopefully this week).

[2018-11-08 20:38] rwjblue commented on #304
Yep, definitely seems like a bug, thanks for reporting!

[2018-11-08 20:39] rwjblue commented on #300
Completely agree, we should specfically ensure that `Ember.A()` is still flagged.

[2018-11-08 20:44] #252 closed

[2018-11-08 21:10] rwjblue commented on #221
I believe this is fixed in 5.3.0.

[2018-11-08 21:10] #221 closed

[2018-11-08 21:10] rwjblue commented on #188
This landed and is included in 5.3.0, will be in the recommended set with 6.0.0.

[2018-11-08 21:12] rwjblue commented on #188
Whoops! I was wrong, sorry about that. It is in https://github.com/ember-cli/eslint-plugin-ember/pull/281.

[2018-11-09 00:19] ntgussoni commented on #300
@rwjblue  I'd like to try fixing this. Never worked on an eslint rule before, so it's good practice. Is that ok?

[2018-11-09 03:05] ntgussoni commented on #300
There it goes! Any feedback is much appreciated.

[2018-11-09 03:29] gmurphey opened #313 "Cannot find new rule definitions from 5.3.0"
Attempted to enable the following new rules:

- `ember/no-restricted-resolver-tests`
- `ember/no-new-mixins`
- `ember/no-test-import-export`

But they don't seem to be defined in `lib/index.js`. Happy to take care of this tomorrow if no one beats me to it.

[2018-11-09 12:02] rwjblue commented on #313
:weary: sorry about that! Definitely appreciate a PR for this.

[2018-11-09 17:46] #313 closed

[2018-11-12 19:02] sukima opened #329 "Rule no-side-effects misses setProperties"
Given the following computed property:

[code]

This should be captured by the `no-side-effects` rule.

[2018-11-13 09:16] ahawkins opened #330 "No Brace Expansion incorrectly applies to some computed properties"
I linted my code diligently fixing reported errors. Fixing one broke my application since I didn't review it properly.  The snippet was:

[code]

Which failed for `ember/use-brace-expansion`. I changed it to:

[code]

That passed the linting but broke functionality. I don't know if it's possible, but brace expansion should be more context error. Applying the rule in this case broke a function that

[2018-11-14 15:25] amk221 opened #337 "Cannot read property 'arguments' of null with no-restricted-resolver-tests"
Getting this after upgrading to 6.0.0

Setting `ember/no-restricted-resolver-tests': 'off'` fixes it

[2018-11-15 04:53] gmurphey commented on #337
Seems to fail with the following code:

[code]

`setupTest` in the import statement is run through the rule.

[2018-11-15 09:52] olleolleolle commented on #306
This was fixed in this commit in the upstream eslint config project: https://github.com/airbnb/javascript/commit/27e5e20b70a042945a63c37ac1d9ad834fc3acd0

[2018-11-15 10:13] Turbo87 commented on #337
@scalvert do you have time to take a look at this?

[2018-11-15 10:31] #329 closed

[2018-11-16 08:23] #337 closed, assigned to nobody

[2018-11-18 15:45] rwwagner90 commented on #189
I'm getting `Cannot read property 'forEach' of undefined` as well now.

[2018-11-18 16:20] Alonski commented on #189
@rwwagner90 Any idea what code is causing the error?

[2018-11-19 08:53] Turbo87 commented on #189
@rwwagner90 can you share the full stack trace and possibly an example snippet that reproduces the issue?

[2018-11-20 14:31] rwjblue opened #342 "Add documentation for avoid-needs-in-controllers"
I missed that this rules documentation was missing when I merged
https://github.com/ember-cli/eslint-plugin-ember/pull/253, we need to add documentation for that rule.

See the deprecation guide for info to be used in the doc:

https://emberjs.com/deprecations/v1.x#toc_controller-needs

[2018-11-24 03:08] mike-north opened #343 "[bug] ember/no-restricted-resolver-tests false positive"
@scalvert's #278 introduced a rule that fails on any function `setupTest` that's passed a single argument

https://github.com/ember-cli/eslint-plugin-ember/blob/88b340e060be65972a4a2c94ad2fddda7fb46d66/lib/rules/no-restricted-resolver-tests.js#L87-L120

`ember-fastboot-addon-tests`, a `devDependency` for some top 10% [popular](https://github.com/kimroen/ember-cli-document-title) [addons](https://g

[2018-11-26 14:51] rwjblue commented on #330
Ooof, sorry about this one @ahawkins. We should probably only apply brace expansion logic to `computed()` directly (not computed macros).

[2018-11-27 07:24] Alonski opened #344 "New Rule: computed-property-style"
I just got some help from @rwjblue building this codemod:
https://github.com/Alonski/ember-computed-getter-codemod
Might be useful to turn it into an ESLint rule that is fixable.

Most basic usage of this rule is this:

Good:
[code]
Bad:
[code]

With computed args:
Good:
[code]
Bad:
[code]

[2018-11-27 09:14] #330 closed

[2018-11-27 10:51] Alonski commented on #344
After chatting on Discord https://discordapp.com/channels/480462759797063690/486516209873846292/516889258146004993

It was decided that the default would be the opposite of what is written above. However there will be configuration for this to flip the logic if someone prefers it the other way.

Bad:
[code]
Good:
[code]

[2018-12-05 15:45] scalvert commented on #343
This seems entirely reasonable. We can inspect the imports and determine whether the path is correct.

[2018-12-06 00:11] #343 closed

[2018-12-07 10:14] Windvis opened #351 "no-side-effects false positive"
Hey!

Lodash's set function seems to trigger the `no-side-effects` rule. It seems that any function called `set` will trigger this rule though.

[code]

Simply renaming the import resolves the problem of course.

[2018-12-07 12:06] rwjblue commented on #351
Definitely seems like a bug to me...

[2018-12-17 09:32] #342 closed

[2018-12-18 23:20] johngibbons commented on #105
I'm still seeing this issue occurring with a CP I'm defining like so:

[code]

Am I missing something or is this not fixed?

[2018-12-31 07:59] Alonski commented on #275
Just mentioning that this seems to be a duplicate of #228

[2018-12-31 16:11] dcyriller commented on #189
Thanks @rwwagner90 for the direction... I ran into the same issue with an addon with no `.eslintignore` file. Re-generating the file with `ember init` command fixed the issue. Indeed, eslint was running inside the `dist` directory (with ie9-transpiled files inside)...

To reproduce the issue (though I have to say it's not really standard):
- `ember addon new-addon`
- in `.eslintignore` remove the

[2019-01-11 10:37] Windvis opened #374 "Route segments naming convention"
Can anyone explain why snake_case is the recommended naming convention for route segments?

The [route-segments-snake-case documentation](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/routes-segments-snake-case.md#route-naming) mentions `Ember doesn't have to do extra serialization in order to resolve promises` but I'm not sure what that means exactly.

I would prefer to

[2019-01-16 13:02] mydea opened #376 "ember/no-restricted-resolver-tests disallows custom resolver"
I get the following error:

Do not use setupTest whose last parameter is an object unless used in conjunction with `integration: true`

For the rule `ember/no-restricted-resolver-tests`, for this code:

[code]

As far as I understand, this should be allowed? We use this for unit/integration tests in engines.

[2019-01-16 14:53] mydea opened #377 "ember/no-side-effects should allow modifying locale variables"
E.g. the following code:

[code]

should IMHO not trigger the `no-side-effects` rule. I'm not quite sure if/how this can be realized. But I guess it could at least work for local variables that do not include `this`? E.g.

[code]

An alternate way could be to just disallow `set(this, ...)`? So e.g. `set(otherThing, ...)` could be allowed. Maybe we could allow to specify an optional list of propert

[2019-01-16 16:12] rwjblue commented on #376
Yes, this seems like a bug in the rule.

[2019-02-21 19:26] alexlafroscia opened #388 "ember/new-module-imports warning about `notifyPropertyChange`"
It seems like the `new-module-imports` rule is warning about using `Ember.notifyPropertyChange`. It suggests importing like this instead:

[code]

That isn't actually a valid import, though. It's not listed in the [API docs](https://emberjs.com/api/ember/release/modules/@ember%2Fobject), and the build fails if you attempt to actually import from there.

[2019-02-22 15:50] rwjblue commented on #388
`import { notifyPropertyChange } from '@ember/object';` is correct.

Not sure where things are going wrong with the API docs, but it is properly documented as coming from `@ember/object`:

https://github.com/emberjs/ember.js/blob/c17949ffae310734a2254695051cb37ff055768a/packages/%40ember/-internals/metal/lib/property_events.ts#L29-L30

Update your version of ember-cli-babel -> babel-plugin-ember-m

[2019-02-22 16:28] FredUK commented on #218
I find this rule really visually unappealing and unable. If I'm depending on a few large property names, it ends up creating a very long line and I need to scroll horizontally to see the whole thing.

It would be nice if we could split the brace expansion over multiple lines. This also resulted in another rule being triggered *no-duplicate-dependent-leys* as I ended up having the same key twice in

[2019-02-22 18:35] rwjblue commented on #388
FWIW, it was added in ember-rfc176-data@0.3.6, and both ember-cli-babel@6.18.0 and ember-cli-babel@7.2.0 use that version as a minimum version. However, you _can_ get the ember-rfc176-data update all the way back to ember-cli-babel@6.8.2...

[2019-02-27 20:50] andrewfan opened #390 "controller.js is handled by ember/order-in-routes rules when using new MU architecture"
https://github.com/emberjs/rfcs/blob/master/text/0143-module-unification.md
I believe the error happens somewhere here https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/utils/ember.js#L110 because in MU everything lives in `routes` folder that is why the second clause is always true

[2019-03-09 15:52] Turbo87 opened #392 "no-on-calls-in-components: Cannot read property 'callee' of undefined"
[code]

it looks like the `no-on-calls-in-components` rule is not able to handle `...foo` in components, like:

[code]

[2019-03-16 20:46] #247 closed

[2019-03-21 22:42] jrjohnson commented on #344
@Alonski I was just going to figure out how to enforce this in our app. Did you make any progress? If not I'll get started on a PR for a rule.

[2019-03-22 05:06] Alonski commented on #344
@jrjohnson I havent put any time into this yet. If you can that would be awesome. Check out the codemod for inspiration

[2019-03-25 14:08] foxtree opened #399 "@ember/array instance circumvents ember/avoid-leaking-state-in-ember-objects?"
I'm wondering if the following is incorrectly able to circumvent the ~`ember/no-side-effects`~ `ember/avoid-leaking-state-in-ember-objects` rule:

[code]

[2019-03-25 15:18] foxtree commented on #399
After correct the name of the rule this seems to violate, I see this is a duplicate of: https://github.com/ember-cli/eslint-plugin-ember/issues/300

[2019-03-25 15:18] #399 closed

[2019-03-26 02:20] daniellizik commented on #2
Any progress on this? I wouldn't mind working on this as it would save me some time

[2019-04-10 11:03] lukasMega commented on #344
Hello guys, what about consider old style:

Bad:
[code]
Good:
[code]

I think there are people that would consider it useful, including me. Maybe for this we should have a separate rule with name like `computed-property-style-old`.
What do you think?

[2019-04-11 15:58] bretjb opened #405 "order-in-services?"
We have a number of services in our app, and I noticed there is no order-in-services rule. Would there be any interest in such a rule?

I'd be happy to try my hand at it, if so.

[2019-04-16 16:05] rwwagner90 commented on #105
I think this is not fixed. Just spoke to @rwjblue about it and we agreed we should fix the linter here. Can we reopen this issue?

[2019-04-20 18:17] mike-north opened #410 "encouraging snake_case dynamic segments results in routes erroring upon creation"
Using the default lint configuration developers get from running `ember new`, after creating a route with the prescribed best practice of snake_case dynamic segment names (i.e., `:foo_id`) results in routes throwing errors immediately upon creation.

### To Reproduce
`ember new abc`
`cd abc`
`ember g route book --path="book/:book_id"`
`ember s`
visit `http://localhost:4200/book/42`

You will get o

[2019-04-23 16:57] jacobq opened #414 "Question: why isn't 'no-ember-super-in-es-classes' enabled in recommended config?"
Is there ever a case where calling `this._super` in an ES6 class method produces the desired behavior while `super.methodName` does not? I would've thought that this rule should be enabled by default as this is very easy to accidentally mess-up while migrating to use of native classes.

[`no-ember-super-in-es-classes`](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-embe

[2019-04-23 17:12] rwjblue commented on #414
IMHO, it should be. It will be a "breaking bugfix" but the code in question _is **already** broken_.

[2019-04-23 17:27] bmish commented on #414
@rwjblue how often do you think we should have major version releases where we can turn on more recommended rules?

[2019-04-23 18:01] #414 closed

[2019-05-01 17:24] pavlikmarek opened #415 "Rule no-get-properties not work?"
It seems like `no-get-properties` rule not work.
I've setup error state on this rule in `.eslintrc` file, but still linter always pass through without error even though the _getProperties_ function is used incorrectly.
I have the same settings with `no-get` rule, but I'm getting error correctly so I guess must be something wrong with this rule.

[2019-05-01 19:54] bmish commented on #415
Can you share some code samples? I am using those rules and they are working for me.

[code]

[2019-05-02 13:30] pavlikmarek commented on #415
Sure, I have in code e.g. :
`const { number, code } = this.getProperties( 'number', 'code');`
or
[code]
shouldn't be used like this, but from linter no error message 😔

[2019-05-02 19:11] bmish commented on #415
Just tried both of those examples and the linting violations show up for me. Check that you're on the latest version of this plugin and that you have:

[code]

[2019-05-03 16:08] bobisjan commented on #415
For our case the `node.id.type` is `Identifier`, which results to skip linting by this condition https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/rules/no-get-properties.js#L24

[code]

[code]

[2019-05-03 21:36] bmish commented on #415
@bobisjan the rule is currently limited to "destructuring assignments" that look like the following example because it's trivial to simply remove the `getProperties` call from them.

[code]

Other usages would have to replace `this.getProperties('bar', 'foo', ...)` with `{ this.bar, this.foo, ... }`. This replacement is slightly less convenient, but I would be open to updating the rule to catch th

[2019-05-06 15:12] lstrzebinczyk opened #417 "Order-in-* rules do not work in native class syntax"
It would seem that, as in issue, if code is written using modern native classess + decorators, the order-in-* rules do not pick it up. Example would be, from my codebase:

[code]

If I were to put `@service` lower in the file, no error is raised. I am also using typescript, but that doesn't seem to matter for other rules.

What is the situation here, is this a known issue? And first of all, do I u

[2019-05-07 07:18] Turbo87 opened #418 "New Rule: no-async-actions"
see http://ember-concurrency.com/docs/tutorial (scroll down to Version 4)

**Bad:**

[code]
[code]
[code]
[code]

**Good:**

[code]

[2019-05-07 07:21] Turbo87 commented on #377
is there a reason why you use `set` instead of `options[opt] = true`?

[2019-05-07 08:13] mydea commented on #377
That example was a bit simplified, in reality this is an EmberObject!

[2019-05-08 10:07] #344 closed

[2019-05-13 20:43] rwjblue commented on #377
I don't know that it is possible for us to tell the difference between:

[code]

and

[code]

[2019-05-23 08:41] Alonski commented on #405
I would love something like this @bretjb :)

[2019-05-23 08:42] Alonski commented on #417
@lstrzebinczyk This is a known issue in that I chatted about it with a few folks on Discord a month or so ago. I assume a PR fixing this would be welcome :)
I for one would love this :)

[2019-05-25 01:41] rajasegar opened #423 "New Rule: no-callback-leaks-in-ember-objects"
Added new rule and tests to avoid callback memory leaks
Callback leaks are memory leaks that occur due to state being caught in a callback function that is never released from memory.

https://github.com/ember-best-practices/memory-leak-examples/blob/master/exercises/exercise-2.md

[2019-05-25 12:23] rajasegar commented on #418
@Turbo87 For the decorators, should we need to configure some parser options i am getting the following error. Any help would be appreciated.
<img width="605" alt="Screen Shot 2019-05-25 at 5 51 47 PM" src="https://user-images.githubusercontent.com/2083049/58369289-e97f8500-7f15-11e9-93db-21f5f45e3ee1.png">

[2019-05-25 13:49] Turbo87 commented on #418
good question, I don't know 😅

we might have to configure the babel-eslint parser for those cases

[2019-05-28 12:48] rajasegar commented on #392
I think this will be due to the **ExperimentalSpreadProperty** `...foo` does not have any value, and we are trying to read the callee of it resulting in the above mentioned error.

Adding a condition like below in the beginning of the `isOnCall` might solve the problem
[code]

@Turbo87  what are your thoughts?

[2019-05-28 12:50] Turbo87 commented on #392
yep, that sounds reasonable

[2019-05-28 14:45] #392 closed

[2019-05-28 22:43] #415 closed

[2019-06-03 09:27] rajasegar commented on #418
@Turbo87 I need your help in formulating the docs for this rule
Is it on the same lines with `eslint/no-async-promise-executor` rule in eslint
https://github.com/eslint/eslint/blob/master/docs/rules/no-async-promise-executor.md

@bmish needs some clarifications here
https://github.com/ember-cli/eslint-plugin-ember/pull/424#discussion_r289675593

[2019-06-03 09:30] Turbo87 commented on #418
no, it's unrelated

⬆️

[2019-06-14 10:33] amk221 opened #430 "no-new-mixins being flagged incorrectly"
<img src="https://d2ddoduugvun08.cloudfront.net/items/1S2u3l051v1c3m0z1W08/Screen%20Recording%202019-06-14%20at%2011.32%20am.gif?X-CloudApp-Visitor-Id=e6126799a29e80bf0f70b1f02b496162&v=48b39cb3">

[2019-06-14 15:05] bmish commented on #430
What's the file path?

[2019-06-14 16:16] amk221 commented on #430
Ohh, is that how you're figuring it out? :(

[2019-06-14 20:51] bmish commented on #430
Yeah the detection is based on having `mixin` in the file path and extending an Ember object. Not great, but it also seems a bit confusing that your path has `/model/` under the `/mixins/` path.

[2019-06-15 09:27] amk221 commented on #430
Ok.

I store my mixins in directories like so:

[code]

because I have a lot, I group them by the type of thing they are mixed-in to.

...hence my need for this rule. I do not want any more _new mixins_ :)

Do you have any suggestions for me other than renaming the directories (which I don't want to do).

[2019-06-15 17:02] bmish commented on #430
You can disable the rule in `.eslintrc.js` for the entire `tests` directory. Would that help?

[2019-06-16 18:32] amk221 commented on #430
I suppose I could do that :) But I'd prefer to keep this issue open so that a better solution is found.

(It seems to be a common theme, see here: https://github.com/ember-cli/eslint-plugin-ember/issues/235)

Cheers

[2019-06-20 07:11] rajasegar commented on #418
@Turbo87 Then, can you please help me in coming up with a proper brief about the rule

[2019-06-20 07:12] rajasegar commented on #418
@bmish Regarding the error above, any help would be appreciated.

[2019-06-20 07:16] Turbo87 commented on #418
as written in the initial post:

tl;dr: using async actions can lead to memory leaks and application errors if you don't check for `isDestroying` and `isDestroyed` after each async step

[2019-06-20 09:30] rajasegar commented on #418
Sounds good to a brief, but do we also need to mention how to fix this error or any recommended practice to avoid async actions.

[2019-06-22 22:59] bmish opened #438 "Plan V7 Release"
The last major release (V6) was in November, 2018. A new major release at least every six months seems desirable.

Ideas for V7:
1. Drop Node 6 support
2. Drop eslint 4 support
3. Remove deprecated rules
4. Enable additional recommended rules

Some suggestions for new recommended rules in V7:
1 `no-arrow-function-computed-properties`
2. `no-deeply-nested-dependent-keys-with-each`
3. `no-ember-supe

[2019-06-23 20:13] rwjblue commented on #438
I'm not sure I agree with this specific statement, I think we should do things "as needed". This _might_ be as often as every 6 months, but I do not think we should assume we always need a major per-6 month period.

[2019-06-24 12:21] andreyfel opened #439 "Rules classic-decorator-hooks and classic-decorator-no-classic-methods are not available"
If I enable these 2 rules I get the following errors:
[code]

[2019-06-25 09:08] Turbo87 commented on #438
seems like a good list to me 👍

[2019-06-25 10:04] rajasegar commented on #438
Appears to me as a good list, but little curious on the premise on which these suggestions are based on like performance, maintainance, code quality, etc., I can relate `no-deeply-nested-dependent-keys-with-each` to performance right?

[2019-06-25 10:54] Turbo87 commented on #438
not directly. the implementation inside of Ember is not allowing it for performance reasons, but the ESLint rule in apps is warning because the code would simply be broken and not just performing badly.

[2019-06-26 13:31] #439 closed

[2019-07-01 08:27] devop911 commented on #105
Whats about this guys?

[2019-07-02 08:12] andreyfel commented on #439
@rwjblue should there be a patch release to make these rules available?

[2019-07-02 13:40] bmish commented on #439
I'll release a patch now.

[2019-07-02 16:50] andreyfel commented on #439
Thanks @bmish!

[2019-07-03 22:40] MichalBryxi opened #446 "Leaking state in program scope"
Consider following service:

[code]

This service will probably work as expected in the scope of running Ember code.

But if there are two *tests* calling this service with different value for `count` when calling `fetchFoo`, then calls to `getFoo` will always return the response of the first test.

[2019-07-03 22:46] MichalBryxi commented on #446
This just bit us in our test code, so I thought an eslint rule might be a good idea.

I know that just enforcing `consts` is not bullet-proof as the _content_ of an object can be still mutated, but forcing user to use `const` instead of `var` or `let` might give them a hint that something might be wrong.

- This is my first eslint rule, so not really sure what I might have missed.
- Also not sure

[2019-07-04 14:00] 22a commented on #228
We've implemented this behaviour in-house and would like to contribute it back to this plugin. Assuming this is something we still want here, I'll try to prep a PR next week.

[2019-07-09 10:39] franzliedke commented on #351
Another false positive:

[code]

Or am I missing something? This is a closure, and thus not a side effect...

[2019-07-25 18:09] mongoose700 commented on #418
I don't think this rule makes sense. There are going to be cases where we want to trigger asynchronous behavior through actions, but this doesn't address how we would do so. The `good` example is returning something other than a promise, but if we just had a promise that didn't get returned, this lint rule would just ignore it.

Given the stated goal is to avoid errors from not checking `isDestroy

[2019-07-25 18:30] Turbo87 commented on #418
@mongoose700 this rule will be optional, if you don't want it, then you don't have to enable it.

you can trigger it, there is nothing wrong with that. it's just that doing anything with `this` after the async behavior has finished can be very dangerous.

[2019-07-25 19:44] mongoose700 commented on #418
Even so, I think it should do a better job at targeting the behavior it's intended to discourage.

Then the rule should be focused on anything that may modify `this` asynchronously, not on just whether the function is `async` or returns a promise. If someone has an action that violates this rule, they are more likely to fix it by making it stop returning the promise than by adding the proper check

[2019-07-25 19:52] Turbo87 commented on #418
yes, unless you know about `isDestroying` and `isDestroyed` and promise to *always* apply them properly.

or alternatively one can use `ember-concurrency` which avoids these issues completely...

you are very welcome to work on improving this rule 😉

[2019-08-04 22:45] #275 closed

[2019-08-04 22:46] bmish commented on #275
Closing as duplicate of #228.

[2019-08-04 22:54] bmish commented on #377
Related issue: #351

[2019-08-04 22:58] bmish commented on #195
Related rule: [no-unnecessary-service-injection-argument](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-unnecessary-service-injection-argument.md)

[2019-08-05 00:57] rwjblue commented on #195
FWIW, I would love if this rule existed.

[2019-08-05 01:01] knownasilya commented on #195
I'll try to get it across the finish line this week.

[2019-08-05 06:22] rajasegar commented on #446
@MichalBryxi FYI
https://eslint.org/docs/rules/prefer-const
https://eslint.org/docs/rules/no-var

[2019-08-05 07:47] #446 closed

[2019-08-06 16:04] #263 closed

[2019-08-07 01:38] bmish commented on #307
I submitted an implementation in #458, but it doesn't handle ES5 getter usage, and I'm not sure it's practical to handle that unfortunately, so the rule may not be worthwhile anymore?

[2019-08-08 19:22] bendemboski opened #459 "Error thrown linting const export - new-module-imports"
To reproduce:

[code]

the result is:

[code]

The code throwing the exception was introduced [here](https://github.com/ember-cli/eslint-plugin-ember/commit/f7e6c7944a6978701570c72d77cf181007f0ab45#diff-1bd027c84b7deaac0b57ddcfb16732aaR127).

[2019-08-08 19:30] bmish commented on #459
Thanks for reporting, will release a patch version as soon as we have a fix.

[2019-08-08 19:54] broxsonl commented on #459
Came here to report the same error. It appears to be related to a variable declaration within a nested block (though looking at where in our codebase it's blowing up appears to be an exception being thrown for a variable declaration in of a for loop).

It appears to be this rule throwing: https://eslint.org/docs/rules/no-inner-declarations

We've set a static version for our app for now.

[2019-08-08 20:10] bendemboski commented on #459
@broxsonl maybe double-check what you're seeing? That doesn't sound anything like what I reported here. If you look at the stack trace above, it leads to `new-module-imports`, and my repro doesn't have anything to do with nested blocks...

[2019-08-08 20:29] dcyriller commented on #459
Thank you @bendemboski for your very precise investigation.

@bmish what do you think of the fix?

[2019-08-08 21:15] #459 closed

[2019-08-11 01:52] bmish commented on #307
I submitted a full implementation of this in #458.

[2019-08-12 20:06] #307 closed

[2019-08-13 10:54] kimroen opened #470 "Rule `require-computed-property-dependencies` doesn't recognize all braced dependent keys"
It looks like the new rule introduced in https://github.com/ember-cli/eslint-plugin-ember/pull/458 doesn't recognize dependent keys in this format: `"article.{comments.[],title}"`. That is, a dependent key with an array inside braces.

With this, I get the linting error saying that `article.title` isn't in the dependent keys.

Specifying them separately works (`"article.title", "article.comments.[

[2019-08-14 16:46] #470 closed

[2019-08-14 16:55] bmish commented on #470
Thanks for reporting! This should be mostly fixed in v6.9.1.

[2019-08-16 11:37] boris-petrov opened #475 "require-computed-property-dependencies false positive"
Using string interpolation like so:

[code]

Causes `require-computed-property-dependencies` to be triggered which is wrong.

P.S. Actually it is not "wrong" but I guess outputting the warning in such a case is pointless - obviously dynamic stuff is happening and the linter can not check it.

[2019-08-16 23:46] BlueRaja opened #477 "require-computed-property-dependencies doesn't recognize services"
There's no reason to include services in the dependency list, but this flag requires them.

Example:
[code]

[2019-08-17 16:24] bmish commented on #477
My understanding is that you should have dependencies on any injected services that are used inside a computed property. Even if such a dependency isn't always necessary in practice, it should be harmless for you to add it, and fortunately the rule can automatically add it for you.

@rwjblue @Turbo87 can you confirm?

[2019-08-17 17:07] Turbo87 commented on #477
I would agree with @BlueRaja. Since `myService` never changes it is probably unnecessary to add it as an explicit dependency. Unfortunately it's quite hard to statically determine the list of injected services for linting though. 🤔

[2019-08-17 19:46] BlueRaja commented on #477
I know absolutely nothing about how eslint works, but wouldn't it be possible to look at the syntax tree to determine which properties are just calls to `@ember/service/inject`?  That would cover 99.9% of cases.

I know including services in the dependency list won't hurt anything, but _requiring_ the devs to do it in order to pass this check is a huge pain in the butt.  I ran the autofixer on our

[2019-08-19 16:01] #475 closed

[2019-08-20 03:20] bmish commented on #477
Thanks for the feedback. It sounds like adding services as dependencies isn't strictly necessary (unless someone were to write `this.set('service', ...)` for some reason) and causes extra churn for those wanting to adopt this rule. As a result, I'll consider trying to update the rule to ignore service dependencies by default (with an option to catch services if desired).

[2019-08-20 16:10] bmish commented on #438
I updated my list of new recommended rules at the top of the thread. @rwjblue @Turbo87 can you do a pass of all the rules to make sure we have a good, complete list? I'd like to release V7 in the near future if you two are onboard.

[2019-08-20 16:23] rwjblue commented on #438
The list seems good to me. Should we also reconsider eslint version support while doing this major bump?

[2019-08-20 19:36] bmish commented on #438
@rwjblue in what way would we define a minimum eslint version? Documentation or some sort of enforced mechanism?

I don't believe we currently specify our support regarding eslint, but we should be compatible with [eslint 4](https://eslint.org/blog/2017/06/eslint-v4.0.0-released) (released 2017-06), [eslint 5](https://eslint.org/blog/2018/06/eslint-v5.0.0-released) (released 2018-06), and [eslint

[2019-08-22 20:38] Exelord opened #490 "[BUG] computed-property-getters throws error with decorators"
`computed-property-getters` rule is throwing an error when used with decorators:
`Do not use a getter inside computed properties`

[code]

I believe this shouldn't be a case as this is the way recommended by octane guides.

[2019-08-22 21:33] bmish commented on #490
CC: @jrjohnson who authored the rule in #397

[2019-08-22 21:47] jrjohnson commented on #490
I'm not up to speed on decorators at all, but please assign to me though and I will take a look at this and figure out how to recognize and allow this case.

[2019-08-22 22:38] bmish commented on #271
Fixed by #267.

[2019-08-22 22:38] #271 closed

[2019-08-23 16:43] bmish commented on #438
Release completed!

[2019-08-23 16:43] #438 closed

[2019-08-23 16:59] rwjblue commented on #438
Great job @bmish, thanks for spearheading this!

[2019-08-25 05:49] jrjohnson commented on #490
I'm going to need some help getting started with this one. Even trying to create a test I'm seeing

`Parsing error: Unexpected character \'@\`

Which I'm guessing means we need to add a babel plugin or an option somewhere to support this syntax. I just don't know where to start with that and I'm concerned that we don't really want to lint the transpiled syntax, we want to lint the original as `get

[2019-08-26 23:44] btecu opened #495 "require-return-from-computed - not much benefit, too noisy"
I've recently update to version 7 and I've noticed that a few days ago `ember/require-return-from-computed` was enabled as part of the recommended rules. This rule probably doesn't provide as much benefit because is omitting the undefined case. For instance, one might have something like:
[code]

I'd like not having to return `null` explicitly since the implicit `undefined` is sufficient.
While it

[2019-08-28 18:35] Exelord commented on #490
I just found out that the solution can be simpler. We don't need to test it against decorators explicitly. We just need to allow on `computed('property')` with no function or object passed. :)

I hope that can help

[2019-08-29 06:48] Exelord commented on #490
Hmm, that's interesting. I was mentioning it as this doesn't work for me as well :/
![image](https://user-images.githubusercontent.com/1469375/63916944-bfb88b80-ca39-11e9-827c-ccd648473105.png)

[2019-09-05 18:15] scottkidder opened #502 "no-pause-test"
Not sure if this would be worthwhile but in the past (and today) we've had someone accidentally commit a `await this.pauseTest()` on a WIP branch which hangs our CI runners.

[2019-09-05 18:39] rwjblue commented on #502
Ya, seems good to me!

[2019-09-08 23:12] scottkidder commented on #502
Cool I'll try to get a PR together by the end of the week.

[2019-09-11 11:48] kimroen opened #509 "Error in eslint when editing router file"
When editing a `router.js` file while running eslint with the `route-path-style` rule enabled, I always get an error thrown from eslint:

[code]

It's pointing to this line:
https://github.com/ember-cli/eslint-plugin-ember/blob/5e01f5b273ac3dac5f7d2224f0735f666c61f83e/lib/rules/route-path-style.js#L42

I'm assuming this is because I haven't finished writing the route declaration, but the code is v

[2019-09-11 14:49] bmish commented on #509
Thanks for reporting, I'll fix this soon!

[2019-09-11 14:53] #477 closed

[2019-09-11 16:19] #490 closed

[2019-09-17 15:43] #502 closed

[2019-09-17 19:41] bmish commented on #2
This could either be created as a new rule or as an option on the related rule [require-computed-property-dependencies](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/require-computed-property-dependencies.md).

[2019-09-19 14:10] ctjhoa commented on #238
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md can give some clues

[2019-09-26 15:31] rwjblue opened #527 "Missing scenarios for no-observer rule"
After reviewing things in the rule implementation, I think there are a few issues in the `no-observer` rule:

* it should fail when using `import { observer } from '@ember/object';` to add an observer (it currently only checks for `Ember.observer` directly)
* it should fail when using `Ember.addObserver`
* it should fail when using `import { addObserver } from '@ember/object/observers';` to add an

[2019-10-07 17:32] patocallaghan opened #533 "Introduce an `octane` configuration"
Recently ember-cli-template introduced an `octane` configuration which guides users to use new Octane patterns over classic component patterns.

https://github.com/ember-template-lint/ember-template-lint/blob/e10fed889cb6a17fd4d3cffbaa17fbbbbd46e813/lib/config/octane.js

We should introduce the same here for eslint-plugin-ember. I'd be happy to put together a PR introducing the config but we shoul

[2019-10-07 18:37] rwjblue commented on #533
Some possible ideas:

* disallow using `actions` hash (favoring instead, `@action` or `foo: action(function() {})`)
* disallow "classic" classes (preferring native class)

@chancancode / @pzuraq / @Turbo87 / @bmish - Thoughts?

[2019-10-08 07:09] Turbo87 commented on #533
- disallow `didInsertElement/willDestroyElement()` (in favor of `@ember/render-modifiers`)
- `only-tagless-components` (allows `@glimmer/component` base class, or `tagName: ''` if `@ember/component`)
- disallow `@ember/component` base class
- enforce component colocation

not sure if any of them should be enabled by default for the `octane` ruleset though. 🤔

[2019-10-08 15:23] pzuraq commented on #533
I think we should recommend modifiers in general, not just `@ember/render-modifiers`, but otherwise I think that's a goo didea

[2019-10-10 14:55] efx commented on #210
In the Octane edition the run loop will be deprecated too so we should encourage readers to consider other idioms.

[2019-10-10 17:35] patocallaghan commented on #533
So collating this list from the above comments we have:

* disallow using `actions` hash (favoring instead, `@action` or `foo: action(function() {}))`
* disallow "classic" classes (preferring native class)
* disallow `didInsertElement/willDestroyElement()` (in favor of modifiers in general)
* `only-tagless-components` (allows `@glimmer/component` base class, or `tagName: ''` if `@ember/component`)

[2019-10-14 09:46] Alonski opened #535 "Remove mention of "routable components" in `alias-model-in-controller` rule"
Maybe this should be rewritten?
https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/alias-model-in-controller.md

[2019-10-14 13:47] Alonski commented on #533
Maybe another rule for `no computed`
Which means that `computed` and all its variants such as `readOnly/alias` etc can't be used?

[2019-10-15 10:14] EvgenyOrekhov opened #536 "Add ignoreGetProperties option for no-get"
I consider the `this.getProperties()` method as a utility (something like lodash's [pick](https://lodash.com/docs#pick)).

[code]

The `no-get` rule forces me to refactor the above into more verbose and repetitive

[code]

I'd like to have `ignoreGetProperties` option.

[2019-10-16 04:06] bmish commented on #495
Closing since we haven't heard of other concerns with this rule.

[2019-10-16 04:06] #495 closed

[2019-10-17 04:26] #536 closed

[2019-10-17 16:11] patocallaghan commented on #533
@Alonski I mention the following above

Is that the same as what you meant?

[2019-10-17 16:55] Alonski commented on #533
Oh yes @patocallaghan Sorry I missed it. It also includes the functions under the computed name space?

[2019-10-17 17:05] patocallaghan commented on #533
Yep it should 🎉 thanks

[2019-10-17 17:10] patocallaghan opened #538 "New Octane Rule: `no-actions-hash`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Disallow using the `actions` hash, favoring the `@action` decorator or `foo: action(function() {}))` instead

[code]

If anyone would like to implement this please comment and work away.

[2019-10-17 17:13] patocallaghan commented on #538
@rwjblue could you sanity check the good/bad samples please?

Also do we need to just check for these `action` items in isolation or should the rule only fire when in we are extending from an `EmberObject`-based class? If so which classes can have an `actions` hash? Just `@ember/component` and `@ember/controller`?

[2019-10-17 17:16] patocallaghan opened #539 "New Octane Rule: `no-classic-classes`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Disallow "classic" classes preferring use of native JS classes

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-17 17:23] patocallaghan commented on #539
@rwjblue could you sanity check these good/bad examples please?

Is the Mixin usage okay or should that have a lint error too? Should it just be a lint error for everywhere we do `Object.extend`?

[2019-10-17 17:43] patocallaghan opened #540 "New Octane Rule: `no-component-lifecycle-hooks`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Disallow "Classic" Ember Component lifecycle hooks. Prefer using `@ember/render-modifiers` or custom functional modifiers.

List of Component lifecycle hooks pulled from [here](https://guides.emberjs.com/release/components/the-component-lifecycle/#toc_order-o

[2019-10-17 17:45] patocallaghan commented on #540
@rwjblue @Turbo87 could you sanity check the good/bad examples please?

Do we also need to check that these occur in Component class or is it good enough to just look for function names?

[2019-10-17 17:51] patocallaghan opened #541 "New Octane Rule: `require-tagless-components`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Only allow `@glimmer/component` base class, or tagName: '' if `@ember/component` is used

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-17 17:52] patocallaghan commented on #541
@rwjblue @Turbo87 could you sanity check the good/bad examples please?

[2019-10-17 17:56] patocallaghan opened #542 "New Octane Rule: `no-classic-components`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Disallow usage of the `@ember/component` base class. Use `@glimmer/component` instead.

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-17 17:56] patocallaghan commented on #542
@rwjblue @Turbo87 checking the import location should be enough here?

[2019-10-17 18:09] patocallaghan opened #543 "New Octane Rule: `only-components-template-colocation`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Only use [Component Templates Colocation](https://github.com/emberjs/rfcs/blob/master/text/0481-component-templates-co-location.md)

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-17 18:13] patocallaghan commented on #543
@rwjblue @Turbo87 I'm a bit fuzzier on the good/bad examples of this one. I'm also not sure on the implementation details of this. Do we still use ember-template-recast? Is there prior art here in other templates?

[2019-10-17 18:20] patocallaghan opened #544 "New Octane Rule: `no-computed-properties-in-native-classes`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Disallow usage of Computed Properties in native JS classes. `@tracked` and getters should be used instead.

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-17 18:22] patocallaghan commented on #544
@rwjblue this is one I was proposing. The idea was just look at the imports and throw an error if it's a native class. Thoughts?

[2019-10-17 18:25] patocallaghan commented on #533
I've cut issues for all the various lint rules proposed here. We can use this issue to track what actually goes into the Octane config as I don't think all should.

If someone could label the issues `help wanted` that would be great as I might reach out to the Ember Times team to see if we can broadcast we need the help building these.

[2019-10-17 19:47] rwjblue commented on #538
Yep, looks good to me.

[2019-10-17 19:48] rwjblue commented on #539
IMHO, that should be a separate rule (`no-mixin-usage` or something like that).

[2019-10-17 19:48] rwjblue commented on #539
Good/bad examples look good to me.

[2019-10-17 19:50] rwjblue commented on #543
Might need another "linter" for filesystem things :thinking:

[2019-10-17 19:50] rwjblue commented on #542
Yeah, I think that is the best we can do.

[2019-10-17 19:52] rwjblue commented on #533
Done!

[2019-10-17 20:35] patocallaghan commented on #543
@rwjblue Actually thinking about it this rule probably does make as much here? Considering it's for _template_ colocation it probably would fit better in the ember-template-lint repo?

If you agree I'll close this issue here and move it over there.

[2019-10-18 00:08] nlfurniss commented on #243
Same with `let m = new Map(); m.set(...)`

[2019-10-18 14:48] rwjblue commented on #543
Seems good to me...

[2019-10-18 14:58] patocallaghan commented on #543
Closing this issue here and I'll re-open on ember-template-lint

[2019-10-18 15:57] patocallaghan commented on #543
Re-opened in https://github.com/ember-template-lint/ember-template-lint/issues/863

[2019-10-18 16:58] scalvert commented on #544
This makes sense to me. 👍

[2019-10-18 16:58] scalvert commented on #542
Agree. I think the import is pretty conclusive here.

[2019-10-18 16:59] scalvert commented on #541
They make sense to me.

[2019-10-18 16:59] scalvert commented on #540
This seems reasonable. It's pretty crazy how much the API is narrowing...

[2019-10-18 17:00] scalvert commented on #539
Ya I thought there was a rule that someone was writing for no mixins? This seems good.

[2019-10-18 17:01] scalvert commented on #538
This is a great one. Looking forward to this simplification.

[2019-10-19 01:28] bmish commented on #541
Probably want to call this `require-tagless-components` for consistency with other rule names.

[2019-10-19 20:03] patocallaghan commented on #544
I'll take this one ✋

[2019-10-19 23:04] alexlafroscia commented on #541
I have a bit of experience with writing ESLint rules and would be interested in taking this one on!

[2019-10-20 01:30] alexlafroscia commented on #541
Would there be a reason to detect usage of the `@tagName()` decorator that used to be part of `ember-decorators`? Or is that not necessary?

[2019-10-21 08:26] patocallaghan commented on #544
I've put together a PR for this rule in https://github.com/ember-cli/eslint-plugin-ember/pull/546

[2019-10-21 08:29] patocallaghan commented on #541
@alexlafroscia I don't use ember-decorators so I didn't include it in my examples. If that's a common enough way of using Classic components then I guess we should?

[2019-10-21 13:28] mikoscz commented on #542
I'm taking this one :)

[2019-10-21 14:06] alexlafroscia commented on #541
I'm not sure how common it is these days -- there was a time when `tagName` as a class property was not supported and it was the _only_ way to do things, but I don't know how much that's still used these days.

[2019-10-21 15:29] patocallaghan commented on #541
@rwjblue @scalvert any thoughts here re:ember-decorators support?

@alexlafroscia If it's a lot of work we could possibly focus on the common use cases for now and add `@tagName` support later?

[2019-10-21 16:05] alexlafroscia commented on #541
I decided to leave it out -- I'm not sure it's really worth supporting, honestly. If people report getting tripped up by the lack of catching `@tagName` it can always be added later.

I called out the fact that it isn't supported as a caveat in the documentation that i added for the rule!

[2019-10-21 16:06] alexlafroscia commented on #539
I'm happy to take this one on -- @patocallaghan can you set me as the "assignee"? It's helpful when browsing the issues and seeing which new rules are yet un-claimed!

[2019-10-21 16:27] laurmurclar commented on #538
I will happily take this one 👋

[2019-10-21 16:56] patocallaghan commented on #539
Unfortunately I don’t have admin rights to do that. @bmish could you assign this issue please?

[2019-10-21 21:21] jbandura commented on #540
I’d like to tackle this 🙂

[2019-10-21 21:47] patocallaghan commented on #540
@jbandura great 🙌

@scalvert @rwjblue just thinking, in Glimmer components should we also be linting against the `init` hook, i.e. use `constructor` instead?

[2019-10-22 14:19] scottkidder commented on #541
I'm in favor of supporting `@tagName` mostly because the [native class codemod](https://github.com/ember-codemods/ember-native-class-codemod) uses it when converting classic to native.

[2019-10-22 14:55] Turbo87 commented on #541
IMHO we should change the codemod then 😉

[2019-10-22 17:43] patocallaghan commented on #538
@bmish could you assign this issue to @laurmurclar please?

[2019-10-22 17:43] patocallaghan commented on #542
@bmish could you assign this issue to @mikoscz please?

[2019-10-23 14:41] #535 closed

[2019-10-24 18:22] #544 closed

[2019-10-25 06:43] #542 closed

[2019-10-25 22:16] #539 closed

[2019-10-26 16:44] alexlafroscia commented on #430
A number of the ESLint rules we have use the path on the filesystem to determine what type of class is being defined -- maybe that's something worth avoiding?

We could pretty easily determine if a new Mixin is being defined by tracking the imported identifier back to the `@ember/object/mixin` module -- maybe that's a change worth making?

[2019-10-26 16:47] alexlafroscia commented on #540
Do Glimmer components even have an `init` hook that would be called?

The run-time behavior not working might be enough -- trying to lint against using a hook that doesn't exist at all feels like starting to push into the realm of type-checking rather than linting.

[2019-10-27 11:52] jbandura commented on #540
Quick question regarding how smart we want the rule to be. In the proposed example:

[code]
This could, in theory, be either a `Component` imported from `@glimmer/component` or from `@ember/component`. In the latter case, we do not necessarily want to complain about the usage of the lifecycle hooks, as they're still present in the "classic" ember components, right? I guess we should also take that

[2019-10-27 13:19] Turbo87 commented on #540
@jbandura yes, that was the intention. the new way of doing the same thing via modifiers works for ember components too, so IMHO we should warn about the life cycle hooks for those too

[2019-10-29 02:09] #541 closed

[2019-10-30 22:57] bmish opened #560 "Update existing rules to handle native classes"
For example, `no-new-mixins` presumably should apply to both classic/native classes.

This would be good preparation for Ember Octane.

_Originally posted by @bmish in https://github.com/ember-cli/eslint-plugin-ember/pull/558#issuecomment-547232645_

Related to #566.

[2019-10-30 22:58] #538 closed

[2019-11-03 01:31] bmish opened #566 "Update existing rules to handle decorators"
For example, computed property rules should handle the `@computed` decorator.

This would be good preparation for Ember Octane.

Related to #560.

These rules in particular need to be updated:

* require-computed-macros
* require-computed-property-dependencies
* require-return-from-computed

[2019-11-05 17:59] laurmurclar commented on #560
The `order-in-*` rules were already called out: https://github.com/ember-cli/eslint-plugin-ember/issues/417

I can start fixing those today

[2019-11-05 17:59] laurmurclar commented on #417
I'll start putting a PR together for these

[2019-11-05 18:38] bmish commented on #560
@laurmurclar that would be great, thanks! I was looking at the code for those rules and it looks like it should be quick to update them. If we can get that change in today then I'll include it in a new release today.

[2019-11-06 06:44] Alonski commented on #417
@laurmurclar Id love to see progress on this. I messed around with AST explorer a few months ago but had a tough time understanding how the transforms work. Good luck!

[2019-11-06 10:14] laurmurclar commented on #560
@bmish Afraid it wont be today! But feel free to work away at them if you have time

[2019-11-06 10:15] laurmurclar commented on #417
@Alonski sweet. I could give you a hand with that some time if you're interested! Can be hard to get started alone

[2019-11-06 17:30] #533 closed

[2019-11-06 17:43] bmish commented on #284
Looks like this was fixed by https://github.com/ember-cli/eslint-plugin-ember/pull/353

[2019-11-06 17:43] #284 closed

[2019-11-06 17:44] #388 closed

[2019-11-06 22:13] bmish commented on #430
I noticed that #213 would help fix this.

[2019-11-07 00:35] BlueRaja opened #572 "BUG: `require-computed-macros` doesn't work with this.get()"
REPRO CODE:
[code]

EXPECTED:
`require-computed-macros` fails with a message saying the function should use `computed.or('a', 'b')`

ACTUAL:
eslint passes

Note: Same issue occurs if you use `return get(this, 'a') || get(this, 'b');` instead

[2019-11-07 01:14] bmish commented on #572
A fix for this would be welcome. But I'd recommend moving away from using `this.get()` and switching to ES5 getters instead, as suggested by the [no-get](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-get.md) rule.

[2019-11-07 01:19] BlueRaja commented on #572
`this.get('a.b')` is still idiomatic, isn't it?

_(Either way, we're stuck on Ember 2.x for the foreseeable future, due to the massive number of changes in the framework since then)_

[2019-11-07 19:43] #572 closed

[2019-11-07 20:35] BlueRaja commented on #572
Nice! As soon as the new version is published we'll start using it right away.  Thanks!!

[2019-11-07 21:37] bmish commented on #572
Published in v7.4.1!

[2019-11-07 23:48] laurmurclar commented on #417
I don't have time to finish this off right now, but I made a start by updating some util functions that this work will rely on (see https://github.com/ember-cli/eslint-plugin-ember/pull/574). If anyone else has time, feel free to pick it up

[2019-11-08 19:29] jaydgruber opened #578 "no-deeply-nested-dependent-keys-with-each should apply to reduce_computed_macros that return an @each"
[code]
This throws a warning, but the lint rule does not catch it.

reduce_computed_macros that return an @each should trigger the lint rule as well.
https://github.com/emberjs/ember.js/blob/23bf7e97502b0f9bab0e90914f4c944dcb7b0975/packages/ember-runtime/lib/computed/reduce_computed_macros.js#L397
As far as I can tell, this is just `filterBy` and `mapBy`

[2019-11-11 17:27] bmish opened #590 "Add import validation on existing rules"
_Originally posted by @rwjblue in https://github.com/ember-cli/eslint-plugin-ember/pull/583/files_

[2019-11-13 16:05] NullVoxPopuli opened #593 "no-arrow-function-computed-properties' onlyOnThisContexts does not work in apps."
:(

no idea how to test this in eslint-plugin-ember.

In the app, I have:
[code]
with the config:
[code]

expected: no lint error

[2019-11-13 16:44] NullVoxPopuli commented on #593
nevermind. option is `onlyThisContexts`

[2019-11-13 16:44] #593 closed

[2019-11-20 22:18] mehulkar opened #601 "`require-tagless-components` rule fails for `Service.extend`"
In `tests/integration/components/foo-test.js`, if I have:

[code]

the lint rule fails

[2019-11-20 22:20] bmish commented on #601
Can you include the error it fails with?

CC: @alexlafroscia

[2019-11-20 22:20] mehulkar commented on #601
Seems similar to #235, and based on an initial look, looks like the problem is here: https://github.com/ember-cli/eslint-plugin-ember/blob/master/lib/utils/ember.js#L171-L192

[2019-11-20 22:21] mehulkar commented on #601
@bmish do you mean the lint failure error message?  (I'm not getting an exception thrown, just a false positive on the lint rule)

[code]

[2019-11-20 22:48] alexlafroscia commented on #601
Ah, I suppose we missed test cases for Ember objects that are not components! I can take a look at fixing this tonight.

[2019-11-21 01:17] alexlafroscia commented on #601
I added a couple of test cases that look like your example @mehulkar -- however, the tests don't actually report the false positive that you're seeing.

Are you running the latest version of `eslint-plugin-ember`?

[2019-11-21 01:18] bmish commented on #601
Try specifying a component filename as mentioned in the ticket.

[2019-11-21 01:21] alexlafroscia commented on #601
Oooh yup, that's what it was!

It _really_ feels like getting away from file names as part of the lint rules would be good, and instead just looking at the actual source of the import 😅

[2019-11-21 01:26] bmish commented on #601
Yeah, definitely agree that we should be checking imports instead of file paths, tracking that improvement with #590.

[2019-11-21 01:29] alexlafroscia commented on #601
Would you be OK with a PR that fixed that? It would be pretty extensive, but I think that's really the _right_ fix in this case.

[2019-11-21 01:35] bmish commented on #601
Yeah, since this lint rule just relies on `emberUtils.isEmberComponent()`, I agree that the right fix would be to check imports instead of filenames inside that util function. That would affect a lot of rules, but I would support pursuing that fix.

[2019-11-21 01:50] alexlafroscia commented on #601
Sweet! I'm going to take a stab at this, I have some time I can invest in it over the next few days

[2019-11-21 05:51] alexlafroscia commented on #270
Should this be closed, now that we have the `no-new-mixins` rule?

[2019-11-21 06:21] alexlafroscia commented on #590
How do you feel about _no longer_ detecting issues on classes defined in the right folder that extend indirectly from the class?

For example, something like this (if we were thinking about `no-actions-hash`)

[code]

[code]

Right now, because it's in the `controllers` directory, it'll handle this OK.

With the refactoring I've done, it no longer takes file name into account -- it looks for a dir

[2019-11-21 11:27] kellyselden opened #604 "no-invalid-debug-function-arguments is not checking import source"
[code]

I have my own deprecate function, but the rule is triggering on it.

[2019-11-21 16:13] bmish commented on #590
In some of my applications, all of our routes extend from our own custom base route, and these would no longer get linted if we changed to only consider routes imported from `@ember/routing/route` (as opposed to simply considering anything in `/routes/` to be a route). I can think of plenty of examples with controllers and components as well, so a limitation/regression like this would be unaccepta

[2019-11-21 16:18] Turbo87 commented on #590
@bmish sounds like a good heuristic to me 👍

[2019-11-22 15:52] NullVoxPopuli commented on #234
I have this issue, too

[2019-11-24 16:04] bmish commented on #604
Definitely want to fix this. Related to #590.

[2019-11-25 15:46] #234 closed

[2019-11-25 17:49] alexlafroscia opened #609 "`no-get` incorrectly warns on properties with unconventional characters"
I noticed after running the fixer for `ember/no-get` that it catches some cases that it really shouldn't.

For example, if the property has a character like a hyphen, which is not actually valid in an identifier, it currently warns but probably shouldn't.

This pattern

[code]

was "fixed" into this

[code]

Which is not the same thing!

[2019-11-26 17:58] #609 closed

[2019-11-29 15:46] boris-petrov opened #614 "[7.7.0] `getSourceModuleName` should only be called on `MemberExpression` or `Identifier`"
After updating, I get that error:

[code]

That line is as follows:

[code]

The last line is `24`.

[2019-11-29 15:50] bmish commented on #614
Thanks for the report. I will fix this within a few hours.

[2019-11-29 17:35] #614 closed

[2019-12-04 19:39] rwjblue opened #619 "Update `no-computed-properties-in-native-classes` to ignore classes marked `@classic`"
This would allow users of the `ember-native-class-codemod` to avoid warnings / errors for the converted classes and still allow them to author new code that is compliant with the existing rule. This is the main intent of `@classic` (to serve as a "burn down list" of things to work on), and would make the octane config much more attainable.

Concretely, I propose adding a new `ignoreClassic` boolea

[2019-12-30 12:14] Turbo87 opened #638 "New Rule: `no-string-prototype-extensions`"
This new rule would look at method invocations with the names mentioned on https://api.emberjs.com/ember/3.11/classes/String. It could potentially also have an option to only trigger on static strings, but I'm not sure how useful that would be 🤔

[2020-01-05 18:53] TheMBTH commented on #105
Hi ;),
I was checking this rule because the linter did not warn me about closing braces. Same thing for nested brace expanded properties.
I can fix these issues if we agree that the linter should be checking for them. What do  you think?

Other than this, it seems to be ok for the other corner cases I checked. Are there any identified cases that fail?

Thx

[2020-01-08 02:07] #527 closed

[2020-01-23 22:58] mehulkar opened #653 "ember/no-classic-components fails on imports from `@ember/component`"
The `ember/no-classic-components` rule fails on this code, and it probably shouldn't?

[code]

[2020-01-24 19:12] efx opened #654 "ember/require-return-from-computed false positive"
Somewhat related to #492
The following style triggers the warning:
[code]
It is confusing that the `set` would require returning anything. Should the rule be updated to ignore that case? Or what is the rationale for requiring this rule?

[2020-01-24 20:53] bmish commented on #653
@mikoscz?

[2020-01-25 18:03] mehulkar commented on #653
I was trying to make a colocated component work and fiddling around with this API. Not really sure what this import is for anymore, but I ended up not using it. The reason I filed the bug is that the “no-classic-component” isn’t being violated here. may not be worth it to fix this if there is no reason to import this in a glimmer component though.

[2020-02-03 23:09] mehulkar opened #660 "New Rule: prevent any code except queryParams in controllers"
For apps that want to be ahead of the curve and prevent bloated controllers, it would be useful to have a lint rule that prevents writing any code in controllers that isn't necessary.

[2020-02-11 15:55] rwjblue commented on #105
@TheMBTH - I'm not 100% sure what case you are referring to, but a PR is always welcome 😸

[2020-02-11 16:43] rwjblue commented on #654
This is exactly the case the rule is trying to catch. With the `Ember.computed` API, the value you return from your setter is _exactly_ the value that will be returned for the next `get`. In other words, it _will not_ call your getter and it will instead use whatever your setter returned.

[2020-02-11 16:44] rwjblue commented on #653
Ya, importing `setComponentTemplate` is a valid thing to do (even when not using `Ember.Component` itself), though I would expect this type of usage to be pretty rare (since most users would just use colocated templates instead).

[2020-02-11 17:06] #654 closed

[2020-02-11 18:02] efx commented on #654
oh, that makes a lot more sense. Thank you for explaining @rwjblue !

[2020-02-11 18:14] #653 closed

[2020-02-11 18:14] #660 closed

[2020-02-11 20:55] cdtinney commented on #638
This could be written similar to https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-function-prototype-extensions.md

[2020-02-11 20:56] cdtinney commented on #405
Going to take this on.

[2020-02-12 03:48] abhilashlr opened #668 "New Rule: Catch duplicate @attr in native classes"
Before:
<img width="231" alt="image" src="https://user-images.githubusercontent.com/5667722/74301223-6db1bb00-4d78-11ea-8e28-03e38c96dea4.png">

After:
<img width="367" alt="image" src="https://user-images.githubusercontent.com/5667722/74301246-7e623100-4d78-11ea-8837-dcbd4ac94881.png">

The errors on duplicate keys don't seem to fire.

Similar to errors from [no-dupe-keys](https://eslint.org/docs

[2020-02-12 05:44] Alonski commented on #405
@cdtinney Good luck! I think the biggest challenge when the order in rules is to get them working with Native Classes.
Will probably still be useful without that though.

[2020-02-12 18:40] cdtinney commented on #182
@bmish this can be closed

[2020-02-12 19:19] #182 closed

[2020-02-12 19:38] #304 closed

[2020-02-12 19:50] bmish commented on #158
Should be fixed in #665.

[2020-02-12 19:50] #158 closed

[2020-02-13 19:07] BlueRaja opened #673 "require-computed-property-dependencies doesn't work with multi-line keys"
**Repro:**
[code]

**Expected results:**
No eslint errors

**Actual results:**
eslint complains about all three keys missing.  If we merge it all into one line, then this rule passes, but (in my actual code) the line-length rule fails.  If we split it into three separate depdencies, then the `use-brace-expansion` rule fails.

[2020-02-14 20:42] #673 closed

[2020-02-19 21:04] Samsinite opened #675 "Not able to disable ember/no-observers in code"
The following code does not seem to disable the `ember/no-observers` rule:

[code]

Since there are specific instances where observers are still useful, seems like a useful rule to be able to disable on a case-by-case basis.

[2020-02-19 21:04] Samsinite commented on #675
Single line disabling does not seem to work either on observers. Disabling other rules does work.

[2020-02-19 21:11] Samsinite commented on #675
Nevermind, it started flagging the `import { observer } from '@ember/object';` and I didn't read the line number correctly.

[2020-02-19 21:11] #675 closed

[2020-02-20 02:50] fierysunset opened #676 "New Rule: Use ember test-helper util function in tests instead of native window method"
ID: `prefer-ember-test-helpers`

**Overview:**
We would like to add a lint rule to assist in users writing tests in Ember using `@ember/test-helpers` to ensure they are using the correct method, in particular with async calls.

A complete list of Window native methods are here: https://developer.mozilla.org/en-US/docs/Web/API/Window#Methods
These are the methods in ember-test-helpers (notably the

[2020-02-20 15:31] rwjblue commented on #676
@fierysunset - Seems generally good to me.

@bmish / @Turbo87 - Thoughts?

[2020-02-21 08:56] Turbo87 commented on #676
yep, sounds good to me 👍

@kellyselden did we discuss this at some point? the proposal seems somehow familiar 🤔

[2020-02-21 10:08] kellyselden commented on #676
@Turbo87 indeed:

https://github.com/ember-cli/ember-cli/pull/7858
https://github.com/ember-cli/eslint-plugin-ember/pull/258

[2020-02-21 11:05] fierysunset commented on #676
Ah! Thanks for the link, @kellyselden :)

So an error for using `find` into `ember-cli` - how would you guys like us to proceed?

[2020-02-26 20:57] scalvert opened #680 "New Rule: no-legacy-test-waiters"
As part of the rollout of [RFC 581](https://github.com/emberjs/rfcs/blob/master/text/0581-new-test-waiters.md), we're proposing adding this new rule to instruct consumers to migrate to the new test waiters addon. Details as to the reasoning behind migrating to the new addon can be found within the RFC.

[2020-02-27 04:21] rwjblue commented on #680
👯‍♂️🕺💃

[2020-02-27 22:44] bmish opened #684 "Rules that are fixable should say so in their documentation"
Right now, we only say which rules are fixable in the overall README, but not in individual rule docs.

For example, eslint says in one of its [rule docs](https://eslint.org/docs/rules/eol-last):

We should update rule docs with this same notice and also add a test in `rule-setup.js` that fixable rules say this in their doc.